<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dokumentation</title>
    <link rel="stylesheet" href="../../assets/designs/design-doku.css">
</head>
<body>
<div class="grid-container">
    <div class="head" id="top"><h1>Dokumentation Webprojekt IB Horsch</h1></div>
    <div class="nav">
        <nav>
            <ul id="navigation">
                <li><a href="#einleitung">Intro</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#problems">Herausforderungen und Lösungen</a></li>
                <li><a href="#projectManagement">Projektmanagement Dokumentation</a></li>
                <li><a href="#part_5">?</a></li>
            </ul>
        </nav>

    </div>
    <div class="content">
        <section id="einleitung">
            <h2>Einleitung</h2>
            <article>

            </article>
            <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        </section>
        <section id="team">
        <h2>Team</h2>

        </section>
        <section id="problems">
            <h2>8. Herausforderungen und Lösungen</h2>
            <p>Da in unserer Zusammenarbeit verschiedene Browser zum darstellen der Website benutzt wurden, sind relativ früh kleinere Unterschiede aufgetaucht die sich jedoch einfach beheben ließen indem wir die Standardeinstellung der einzelnen Elemente weiter eingegrenzt hatten (benutzt wurden Chrome, Firefox und Microsoft Edge).</p>
            <p>Bei einem Endgerät war es nicht möglich das Impressum zu laden (selbst bei vollständiger Funktion aller anderen Seiten). Leider konnte dieses Problem auch nach mehrmaligen durchsehen der html, sowie der css nicht identifiziert und damit auch nicht behoben werden.</p>
            <p>Eine größere Schwierigkeit stellte die Umsetzung des responsiven Designs dar, da wir mit der Desktop Variante anfingen. Aber nach einiger Zeit und mit viel Geduld gelang uns auch dies zu unserer Zufriedenheit umzusetzen. </p>
            <p>Das größte Problem während unseres Projekts entstand knapp nach der Hälfte der Zeit, bei der uns nach mehreren Rücksprachen mit den zuständigen Professoren klar wurde, dass unsere Seite nicht den Maßstab der Projektarbeit entspricht und wir dadurch gezwungen waren noch einmal ein Großteil unserer Ideen und Vorstellung zu verwerfen. An diesem Punkt brachen wir auch die Zusammenarbeit mit dem Inhaber der Firma IBHorsch ab, um uns vollständig auf die Umsetzung der wesentlichen Aspekte zu konzentrieren, hierunter zählte vor allem die Implementierung und den Ausbau des Shops.</p>
            <p>Keine feste Seitenhierarchie bis beinahe zum letzten drittel des Projekts, führte zu einer gewissen Unordnung was sowohl die Benennung der Dateien und Elemente, als auch die Ordnerstruktur angeht. Doch nach festlegen der bestehenden Seiten und das Entfernen der überflüssigen Seiten war dies auch schnell in den Griff zu bekommen.</p>
            <p>Anfängliche Probleme gab es bei der Nutzung von der main Branch als einziger Branch, da dies mehr als einmal zu Merge Konflikten führte, dies ließ sich jedoch leicht durch die Nutzung verschiedener Branches regeln. </p>
        </section>
        <section id="projectManagement">
            <h2>9. Projektmanagement Dokumentaion</h2>
            <p>Es stellte sich als Vorteil heraus, eine klare Aufgabenteilung durchzuführen wodurch jeder sein Fachgebiet besaß und es ihm möglich war, anschließend die jeweiligen anderen in seine Arbeit einzuführen und Verständisfragen zu klären. Dadurch gelang es uns Arbeit durch eigen Expertise schnell zu erledigen, sich dabei nicht gegenseitig zu behindern und dennoch ein umfassendes Wissen der gesamten Thematik zu erschließen. </p>
            <p>Zur Aufgabenstrukturierung entschieden wir uns für Trello, da es die Möglichkeit besaß uns selbst Termine und Fristen zu setzen an die wir uns größtenteils hielten, bzw. es zu ersehen war, wenn es zu Schwierigkeiten kam. So gelang es uns, in dem Projekt einen Überblick zu behalten nicht nur was eigene Aufgaben anging, sondern auch die der Teammitglieder, um evtl. benötigete Hilfe anbieten zu können.</p>
        </section>
    </div>
</div>

</body>
</html>