<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dokumentation</title>
    <link href="../../assets/designs/design-doku.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="grid-container">
    <div class="head" id="top"><h1>Dokumentation Webprojekt IB Horsch</h1>
        Ein gemeinschaftliiches Projekt von Christoph Frischmuth, Matthias Gabel und Mickey Knop
    </div>
    <div class="nav">
        <nav>
            <h2>Inhalt:</h2>
            <ul id="navigation">
                <li><a href="#einleitung">Einleitung</a></li>
                <li><a href="#kriterien">Kriterien</a></li>
                <li><a href="#recherche">Recherche</a></li>
                <li><a href="#seitenlayout">Seitenlayout</a></li>
                <li><a href="#design">Design</a></li>
                <li><a href="#funktionalitaeten">Funktionalitäten</a></li>
                <li><a href="#datenbank">Datenbank</a></li>
                <li><a href="#rollenmodell">Rollenmodell</a></li>
                <li><a href="#herausforderungenUndLösungen">Herausforderungen</a></li>
                <li><a href="#projektmanagement">Projektmanagement</a></li>
            </ul>
        </nav>

    </div>
    <div class="content">
        <section id="einleitung">
            <h2>Einleitung</h2>
            <hr>
            <h3>1.1 Ausgangssituation</h3>
            <article>
                Das Ingenieurbüro der Firma IB-Horsch ist ein mittelständisches Unternehmen, welches
                Dienstleistungen rund um das Thema Bauplanung- und Dienstleistung
                anbietet. Die Zielgruppe des Unternhmens bewegt sich in der Spanne von 20 bis 67 und betrifft vor
                allem private Bauherren und
                gewerbliche Bauunternehmen, welche genannte Dienstleistung auslagern und diese in Auftrag geben.
                Das Angebot gliedert sich in folgende Bereiche:
                <ul>
                    <li>Brandschutz</li>
                    <li>Eingabeplanung</li>
                    <li>Tragwerksplanung</li>
                    <li>Wärmeschutz</li>
                </ul>

                Das Unternehmen ist sowohl in beratender Rolle tätig. Um die Reichweite des
                Kundenkreises zu erweitern ist eine Webseite geplant,
                welche das Unternehmen ausgezeichnet Repräsentiert soll. Hier sollen sich potentielle Kunden darüber
                hinaus über aktuelle Angebote und das Unternehmen informieren
                können.
                <p>
                    Zudem wurde ein Onlineshop umgesetzt, in welchem aktuelle Angebote und Dienstleistungen bequem von
                    Zuhause oder Unterwegs gekauft oder gebucht werden können.
                </p>
            </article>
            <h3>1.2 Zielbestimmung</h3>
            <article>
                Das umgesetzte System soll vordergründig von Gästen, aber auch von Kunden und Administratoren der Seite
                genutzt werden.
                <p>
                    Wie bereits erwähnt ist der Zweck der Onlinepräsenz, den Gästen und Kunden einen Einblick in die
                    Dienstleistungen des Ingenieurbüros
                    zu vermitteln.
                </p>
                <p>
                    Der Administrator kann Accounts löschen.
                </p>
                <p>
                    Gäste können sich registrieren und anmelden um Produkte und Diensleistungen zu ordern.
                    Zudem kann ein User seine Daten ändern und soll später ein neues Passwort anfordern können.
                </p>
                <p>
                    <b>Wichtig!</b> Für die Umsetzung der "neues Passwort anfordern" und der Kontaktaufnahme 
                    funktion ist unweigerlich ein Email-Server von nöten. Dies wurde jedoch im Rahmen dieser Projektarbeit
                    <b>nicht umgesetzt</b>.
                </p>
            </article>
        </section>
        <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        <section id="kriterien">
            <h2>2 Kriterien</h2>
            <hr>
            <h3>2.1.1 Muss-Kriterien</h3>
            <article>
                <h4>2.1.1.1 Unterstüzung der Gäste</h4>
                Das System muss den Gästen die Möglichkeit bieten
                <ul>
                    <li>sich über Produkte und Dienstleistungen informieren zu können</li>
                    <li>sich für den Kauf von Dienstleistungen zu registrieren</li>
                    <li>die Webseite über den heimischen Browser als auch über ein Tablet aufzurufen</li>
                </ul>
                <h4>2.1.1.2 Unterstüzung der User</h4>
                Das System muss den Usern die Möglichkeit bieten
                <ul>
                    <li>Produkte und Dienstleistungen über den Online kaufen bzw. buchen zu können</li>
                    <li>persönliche- und Addressdaten zu bearbeiten</li>
                    <li>das Benutzerpasswort zu ändern</li>
                </ul>
                <h4>2.1.1.3 Unterstüzung der Administratoren</h4>
                Das System muss den Administratoren die Möglichkeit bieten
                <ul>
                    <li>User zu löschen</li>
                </ul>
                <h3>2.1.2 Wunsch-Kriterien</h3>
                In Zukunft soll das System
                <ul>
                    <li>eine Schnittstelle zum versenden von Formularen, Passwortzurücksetzungen und Checkout per Email erhalten</li>
                    <li>funktionen zum Bearbeiten von Produkten für Administratoren erhalten</li>
                    <li>funktionen für die Rollenvergabe für die Administratoren erhalten</li>
                </ul>
                <h3>2.1.3 Abgrenzung-Kriterien</h3>
                Nicht realisiert werden soll
                <ul>
                    <li><b>Widerspruch!!!!!</b> die aktualiesierung der Produkte im Onlineshop durch den Administrator</li>
                </ul>
            </article>
            <article>
                <h3>2.2 Lieferumfang</h3>
                <h4>2.2.1 Enthalten im Lieferumfang</h4>
                Im Lieferumfang enthalten ist eine voll Funktionale Webseite, mit 7 Menüpunkten aus der Sicht des Gastes
                <ul>
                    <li>Startseite</li>
                    <li>Über uns</li>
                    <li>Aktuelle Projekte</li>
                    <li>Produkte</li>
                    <li>Warenkorb</li>
                    <li>Login</li>
                    <li>Impressum (im Footer verlinkt)</li>
                </ul>
                und 4 Menüpunkte auf einer zweiten Ebene
                <ul>
                    <li>Kontaktaufnahme</li>
                    <li>Shop</li>
                    <li>Registrierung</li>
                </ul>
                    Zusätlich enthalten sind jeweils 2 weitere Unterseiten für User:
                <ul>
                    <li>Mein Konto</li>
                    <li>Meine Aufträge</li>
                </ul>
                und Admin:
                <ul>
                    <li>Mein Konto</li>
                    <li>Accounts verwalten</li>
                </ul>
                Weiterhin wird eine weitere Seite im Zuge des Modulprojektes im Impressum verlinkt
                <ul>
                    <li>Dokumentation</li>
                </ul>
                Eine Datenbank mit,
                <ul>
                    <li>10 Tabellen</li>
                    über
                    <li>3 Ebenen</li>
                </ul>
                welche in dieser Dokumentation genauer unter Punkt <a href="#datenbank">Datenbank </a> näher behandelt wird.
                <br>
                <br>
                Einen funktionierenden Webshop, in dem ein Kunde Dienstleistungen
                <ul>
                    <li>filtern</li>
                    <li>zum Warenkorb hinzufügen</li>
                    <li>aus Warenkorb löschen</li>
                    <li>bestellen</li>
                </ul>
                kann.
                <br>
                <br>
                Außerdem kann der Kunde seine Bestellung am Ende des Bestellprozesses nochmals einsehen und eine Druckansicht erstellen lassen.
            </article>
            <h4>2.2.1 Nicht enthalten im Lieferumfang</h4>
            <article>
                <ul>
                    <li>Schnittstelle an einen Email-Server zum versenden von Formularen und sonstigen aktivitäten wo eine solche
                        Technologie zwingend notwendig wäre</li>
                    <li>Installation der Webanwendung auf einem Server </li>
                </ul>
            </article>
            <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        </section>
        <section id="recherche">
            <h2>3 Recherche</h2>
            <hr>
            <article>
                Vor der Planung der einzelnen Elemente der Webseite, wie Design und Funktionalität, wurden ausführliche Recherchen sowohl in
                übereinstimmenden Branchen wie auch Branchen übergreifend durchgeführt.
                Im folgenden werden diese näher beschrieben und ähnlichkeiten bestimmt.
            </article>
            <article>
                <p>
                    Beispielsweise gefiel uns und unserem Auftraggeber der Webauftritt von Firma Geologie Veith besonders gut;
                    <a href="https://www.geologie-veith.de/startseite/">https://www.geologie-veith.de</a>
                </p>
                <p class="picture">
                    <img src="../../assets/images/doku/index_veith.png" alt="index_veith"/>
                </p>
                <p>
                    Wir fanden die gesamte Struktur der Seite sehr interessant und vor allem hat uns die Slideshow auf der Landingpage inspiriert.
                    Wir haben diese inspiration genommen und sie in ähnlicher form umgesetzt.
                </p>
                <p>
                    Auch fanden wir den Footer dieser Webseite sehr interessant, vor allem die hat uns die Karte zum Firmensitz beeindruckt.
                </p>
                <p class="picture">
                    <img src="../../assets/images/doku/footer_veith.png" alt="footer_veith"/>
                </p>
            </article>
            <article>
                <p>
                    Auf der Homepage der Umweltbank fanden wir ein schöne möglichkeit Artikel in mobilen Ansichten darzustellen. Zudem gefiel uns das schlichte
                    Design der Homepage, Weiß und eine Kontrastfarbe, auch dies floss in unsre Designentscheidung ein; <a href="https://www.umweltbank.de/">https://www.umweltbank.de/</a>
                </p>
                <p class="picture">
                    <img src="../../assets/images/doku/mobile_menu_umweltbank.png" alt="mobile_menu_umweltbank"/>
                </p>
            </article>
            <article>
                <p>Auf der Homepage der ava.consult haben uns besonders die Bilder in Kreiselementen, was wir beispielsweise für die Darstellung der  Zertifikate auf
                unserer Landingpage verwendet haben;<br> <a href="https://www.awaconsult.com">https://www.awaconsult.com/</a>
                </p>
                <p class="picture">
                    <img src="../../assets/images/doku/circle_offers_avaconsult.png" alt="bild_avaconsult"/></p>

            </article>
        </section>
        <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        <section id="seitenlayout">
            <h2>4 Seitenlayout</h2>
            Nach den anfänglichen Recherchen wurden erste Ideen in Mockups umgesetzt. Im Designprozess wurde jedoch viel verworfen und neu kreiert, bis hin zum heute
            fertigen Design.
            <p>
                Nach anfänglichen Problemen in Sachen Design, wurde uns schnell bewusst, dass wir für uns unpassende Methoden verwendeten um das Aussehen zu visualisieren.
                Da wir sehr kommunikative Personen sind, wurde das Design meist on the fly, direkt im Code geändert und Perfektioniert. Das Erstellen von Mockups
                legten wir sehr schnell ab und konzentrierten uns auf den wesentlichen Prozess.
            </p>
            <p class="picture">
                <img src="../../assets/images/doku/layout/startseite_browser.png" height="966" width="1904"/>
                <br>Startseite in der Browseransicht
            </p>
            <p class="picture">
                <img src="../../assets/images/doku/layout/startseite_alt_mobil.png" height="659" width="372"/>
                <br>Startseite in der mobilen Ansicht
            </p>
            <p class="picture">

            </p>
        </section>
        <section id="design">
            <h2>5 Design</h2>
            <hr>
            <h3>5.1 Farbwahl</h3>
            <article>
                Die Farbwahl für die gesamte Webseite wurde von Beginn an stark durch die Farbgebung des Firmenlogos beeinflusst. Da das Logo dreifarbig ist, Blau, Grau und Weiß,
                war die Farbwahl eher eingegrenzt, was wir jedoch souverän genutzt haben. Das Grunddesign ist weiß und besitzt Blaue akzente. Hinzu kommen graue schatten, welche modern
                wirken und nicht anstrengend werden.
            </article>
            <h3>5.2 Design generell</h3>
            <article>
                Da die Webseite ein Ingenieurbüro vertritt und keinen reinen Onlineshop, musste das Design vordergründig nach einem Branchenüblichen Raster gewählt werden.
                Aus diesem Grund war es notwendig, das Firmenlogo gut erkennbar in Scene zu setzen. Hierfür wurde im Bereich des Headers besonderen wert auf Präsenz gelegt.
                Wichtig war zusätzlich ein schlichtes Design, um eine gute Usability zu gewärleisten. Für diese Herausforderung wurden blaue Akzente in klaren Linien gewählt um der Webseite
                einen einheitlichen Feinschliff zu verleihen. Dieses Konzept wurde durchgehend genutzt und schafft mit ausgewählten Schatten ein schlichtes und elegantes Gesamtbild.
            </article>
        </section>
        <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        <section id="pages">
            <h2>6 Seiten</h2>
            <hr>
            <h3>6.1 Seitenhierarchie</h3>
            <p class="bigPicture"><img src="../../assets/images/doku/Seitenhierarchie.png" height="1168" width="1862"/></p>
            <h3>6.2 Header</h3>
            <p class="bigPicture"><img src="../../assets/images/pages/Header1.png" height="213" width="951"/></p>
            <p class="bigPicture"><img src="../../assets/images/pages/Header2.png" height="293" width="965"/></p>
            <h3>6.3 Footer</h3>
            <p class="bigPicture"><img src="../../assets/images/pages/Footer.png" height="298" width="971"/></p>
            <h3>6.4 Startseite</h3>
            <p class="bigPicture"><img src="../../assets/images/pages/main1.png" height="842" width="1214"/></p>
            <p class="bigPicture"><img src="../../assets/images/pages/main2.png" height="858" width="1221"/></p>
            <h3>6.5 Über Uns </h3>
            <p class="bigPicture"><img src="../../assets/images/pages/ÜberUns.png" height="724" width="899"/></p>
            <h3>6.6 Aktuelle Projekte</h3>
            <p class="bigPicture"><img src="../../assets/images/pages/AktuelleProjekte1.png" height="670" width="960"/></p>
            <p class="bigPicture"><img src="../../assets/images/pages/AktuelleProjekte2.png" height="522" width="966"/></p>
            <h3>6.7 Impressum</h3>
            <p class="bigPicture"><img src="../../assets/images/pages/Impressum.png" height="733" width="952"/></p>
            <h3>6.8 Formulare</h3>
            <h4>6.8.1 Login</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Login.png" height="447" width="745"/></p>
            <h4>6.8.2 Registrierung</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Registrierung.png" height="533" width="919"/></p>
            <h4>6.8.3 Kontakt</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Kontakt.png" height="424" width="849"/></p>
            <h3>6.9 Produkte</h3>
            <h4>6.9.1 Shop</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Shop.png" height="726" width="956"/></p>
            <h4>6.9.2 Warenkorb</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Warenkorb.png" height="427" width="947"/></p>
            <h3>6.10 Inhalte nach Anmeldung</h3>
            <h4>6.10.1 Mein Konto</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Mein Konto.png" height="576" width="941"/></p>
            <h4>6.10.2 Meine Aufträge(User)</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Meine Aufträge.png" height="242" width="944"/></p>
            <h4>6.10.3 Accounts verwalten(Administrator)</h4>
            <p class="bigPicture"><img src="../../assets/images/pages/Accounts verwalten.png" height="572" width="952"/></p>
        </section>
        <section id="database">
            <h2>7 Datenbank</h2>
        <section id="funktionalitaeten">
            <h2>6 Seiten</h2>
            <hr>

        </section>
        <section id="datenbank">
            <h2>7. Datenbank</h2>
            <hr>
            <h3>7.1 ER Diagramm</h3>
            <p class="picture"><img src="../../assets/images/doku/database/ER-diagramm.png" height="830" width="860"/></p>
            <h3>7.2 Tabellenmodell</h3>
            <h4>7.2.1 members</h4>
            <p>Die Tabelle members beinhaltet die Informationen aller angemeldeten Benutzer,
                die Rolle des Benutzers, sowie einen Verweis auf die Adresse des Benutzers.</p>
            <table>
                <tbody>
                    <tr>
                        <th>Attribut</th>
                        <th>Typ</th>
                        <th>Länge</th>
                        <th>Notwendigkeit</th>
                        <th>Bedingung</th>
                        <th>Anmerkung</th>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td>int</td>
                        <td>-</td>
                        <td>Ja</td>
                        <td></td>
                        <td>PK, AI</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>varchar</td>
                        <td>255</td>
                        <td>Ja</td>
                        <td></td>
                        <td>PK</td>
                    </tr>
                    <tr>
                        <td>password_hash</td>
                        <td>varchar</td>
                        <td>255</td>
                        <td>Ja</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>roll</td>
                        <td>varchar</td>
                        <td>45</td>
                        <td>Ja</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>firstname</td>
                        <td>varchar</td>
                        <td>255</td>
                        <td>Ja</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>lastname</td>
                        <td>varchar</td>
                        <td>255</td>
                        <td>Ja</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>gender</td>
                        <td>char</td>
                        <td>-</td>
                        <td>Ja</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>phone</td>
                        <td>varchar</td>
                        <td>20</td>
                        <td>Nein</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>addresses_id</td>
                        <td>int</td>
                        <td>-</td>
                        <td>Ja</td>
                        <td></td>
                        <td>PK</td>
                    </tr>
                </tbody>
            </table>
            <h4>7.2.2 addresses</h4>
            <p>Die Tabelle "addresses" wird dafür genutzt, die Adressen der verschiedenen Nutzer zu speichern.</p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>street</td>
                    <td>varchar</td>
                    <td>64</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>house number</td>
                    <td>varchar</td>
                    <td>10</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>city</td>
                    <td>varchar</td>
                    <td>64</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>zip</td>
                    <td>varchar</td>
                    <td>5</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.3 orders</h4>
            <p>Die Tabelle "orders" beinhaltet informationen zum Bestellstatus sowie des Bestelldatums. Hintelegt sind hierfür noch die Adress- sowie Nutzer-ID des Kunden.  </p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>varchar</td>
                    <td>15</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>order date</td>
                    <td>datetime</td>
                    <td>15</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>addresses_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                <tr>
                    <td>members_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.4 member_has_products</h4>
            <p>Die Tabelle "member_has_products" fungiert als Warenkorb in unserer Datenbank und wird daher für die Zuordnung der vom Kunden ausgewählten Artikel, mittles NutzerID und ProduktID zum jeweiligen Kunden genutzt. Sie enthält außerdem die Bestellmenge des Artikel. </p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>addresses_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>members_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.5 products</h4>
            <p>Die Tabelle "products" beinhaltet Informationen für die Produkte, sowie Verweise auf die Tabellen "images" und "categories".</p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>varchar</td>
                    <td>255</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td>varchar</td>
                    <td>2000</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>std_price</td>
                    <td>decimal</td>
                    <td>10,2</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>images_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                <tr>
                    <td>categories_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.6 orders_has_products</h4>
            <p>Die Tabelle "orders_has_products" dient als Verknüpfungstabelle zur Rechnungserstellung.</p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>orders_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                <tr>
                    <td>products_id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK</td>
                </tr>
                <tr>
                    <td>amount</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>price</td>
                    <td>decimal</td>
                    <td>10,2</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.7 categories</h4>
            <p>Die Tabelle "categories" beinhaltet die Information zur Art des Produktes welche eine der folgenden entspricht: Wärmeschutz, Feuerschutz, Tragwerksplanung und Eingabeplanung/p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>varchar</td>
                    <td>45</td>
                    <td>Ja</td>
                    <td>unique</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <h4>7.2.8 images</h4>
            <p>Die Tabelle "images" dient zur Zuordnung der Bilder zum jeweiligen Produkt und beinhaltet den Dateinamen des Artikels, sowie einen "alt_text" zur scriptlosen Darstellung.</p>
            <table>
                <tbody>
                <tr>
                    <th>Attribut</th>
                    <th>Typ</th>
                    <th>Länge</th>
                    <th>Notwendigkeit</th>
                    <th>Bedingung</th>
                    <th>Anmerkung</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>int</td>
                    <td>-</td>
                    <td>Ja</td>
                    <td></td>
                    <td>PK, AI</td>
                </tr>
                <tr>
                    <td>filename</td>
                    <td>varchar</td>
                    <td>255</td>
                    <td>Ja</td>
                    <td>unique</td>
                    <td></td>
                </tr>
                <tr>
                    <td>alt_text</td>
                    <td>varchar</td>
                    <td>255</td>
                    <td>Ja</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section id="roleModel">
            <h2>8 Rollenmodel</h2>
            <hr>
            <p>Für das Projekt wurden 3 verschiedene Rollen berücksichtigt hierzu zahlen:</p>
            <ul>
                <li>Der Gast (unangemeldeter Besucher der Seite)</li>
                <li>Der Nutzer (im System angemeldeter Benutzer deer Seite)</li>
                <li>Der Administrator (angemeldeter Benutzer mit mehr Rechten)</li>
            </ul>
            <p>Die nachfolgenden Use-Cases sollen zur Verdeutlichung der jeweiligen Szenarien beitragen</p>
            <h3>8.1 Business Use-Case</h3>
            <img src="../../assets/images/doku/roleModel/1.business.png" alt="business.png"/>
            <p> Abbildung: Business Use Case</p>
            <h3>8.2 Warenkorb verwalten</h3>
            <p class="picture"><img src="../../assets/images/doku/roleModel/2.cart (2).png" alt="cart.png"/></p>
            <p> Abbildung: Warenkorb verwalten</p>
            <h3>8.3 Konto verwalten</h3>
            <p class="picture"><img src="../../assets/images/doku/roleModel/3.konto (2).png" alt="konto.png"/></p>
            <p> Abbildung: Konto verwalten</p>
            <p class="picture"><img src="../../assets/images/doku/roleModel/4.create (2).png" alt="create.png"/></p>
            <p> Abbildung: Account erstellen</p>
            <p class="picture"><img src="../../assets/images/doku/roleModel/5.login (2).png" alt="login.png"/></p>
            <p> Abbildung: Anmelden</p>
            <h3>8.4 Accounts verwalten</h3>
            <p class="picture"><img src="../../assets/images/doku/roleModel/6.accounts (2).png" alt="accounts.png"/></p>
            <p> Abbildung: Accounts verwalten</p>
        </section>
        <section id="problems">
            <h2>9 Herausforderungen</h2>
            <hr>
            <p>Da in unserer Zusammenarbeit verschiedene Browser zum darstellen der Website benutzt wurden, sind
                relativ früh kleinere Unterschiede aufgetaucht die sich jedoch einfach beheben ließen indem wir die
                Standardeinstellung der einzelnen Elemente weiter eingegrenzt hatten (benutzt wurden Chrome, Firefox
                und Microsoft Edge).</p>
            <p>Bei einem Endgerät war es nicht möglich das Impressum zu laden (selbst bei vollständiger Funktion
                aller anderen Seiten). Leider konnte dieses Problem auch nach mehrmaligen durchsehen der html, sowie
                der css nicht identifiziert und damit auch nicht behoben werden.</p>
            <p>Eine größere Schwierigkeit stellte die Umsetzung des responsiven Designs dar, da wir mit der Desktop
                Variante anfingen. Aber nach einiger Zeit und mit viel Geduld gelang uns auch dies zu unserer
                Zufriedenheit umzusetzen. </p>
            <p>Das größte Problem während unseres Projekts entstand knapp nach der Hälfte der Zeit, bei der uns nach
                mehreren Rücksprachen mit den zuständigen Professoren klar wurde, dass unsere Seite nicht den
                Maßstab der Projektarbeit entspricht und wir dadurch gezwungen waren noch einmal ein Großteil
                unserer Ideen und Vorstellung zu verwerfen. An diesem Punkt brachen wir auch die Zusammenarbeit mit
                dem Inhaber der Firma IBHorsch ab, um uns vollständig auf die Umsetzung der wesentlichen Aspekte zu
                konzentrieren, hierunter zählte vor allem die Implementierung und den Ausbau des Shops.</p>
            <p>Keine feste Seitenhierarchie bis beinahe zum letzten drittel des Projekts, führte zu einer gewissen
                Unordnung was sowohl die Benennung der Dateien und Elemente, als auch die Ordnerstruktur angeht.
                Doch nach festlegen der bestehenden Seiten und das Entfernen der überflüssigen Seiten war dies auch
                schnell in den Griff zu bekommen.</p>
            <p>Anfängliche Probleme gab es bei der Nutzung von der main Branch als einziger Branch, da dies mehr als
                einmal zu Merge Konflikten führte, dies ließ sich jedoch leicht durch die Nutzung verschiedener
                Branches regeln. </p>
        </section>
        <section id="projectManagement">
            <h2>10 Projektmanagement Dokumentaion</h2>
            <hr>
            <p>Es stellte sich als Vorteil heraus, eine klare Aufgabenteilung durchzuführen wodurch jeder sein
                Fachgebiet besaß und es ihm möglich war, anschließend die jeweiligen anderen in seine Arbeit
                einzuführen und Verständisfragen zu klären. Dadurch gelang es uns Arbeit durch eigen Expertise
                schnell zu erledigen, sich dabei nicht gegenseitig zu behindern und dennoch ein umfassendes Wissen
                der gesamten Thematik zu erschließen. </p>
            <p>Zur Aufgabenstrukturierung entschieden wir uns für Trello, da es die Möglichkeit besaß uns selbst
                Termine und Fristen zu setzen an die wir uns größtenteils hielten, bzw. es zu ersehen war, wenn es
                zu Schwierigkeiten kam. So gelang es uns, in dem Projekt einen Überblick zu behalten nicht nur was
                eigene Aufgaben anging, sondern auch die der Teammitglieder, um evtl. benötigete Hilfe anbieten zu
                können.</p>
        </section>
    </div>
</div>

</body>
</html>
