<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dokumentation</title>
    <link rel="stylesheet" href="../../assets/designs/design-doku.css">
</head>
<body>
<div class="grid-container">
    <div class="head" id="top"><h1>Dokumentation Webprojekt IB Horsch</h1></div>
    <div class="nav">
        <nav>
            <h2>Inhalt:</h2>
            <ul id="navigation">
                <li><a href="#einleitung">Einleitung</a></li>
                <li><a href="#recherche">Recherche</a></li>
                <li><a href="#seitenlayout">Seitenlayout</a></li>
                <li><a href="#design">Design</a></li>
                <li><a href="#seiten">Seiten</a></li>
                <li><a href="#datenbank">Datenbank</a></li>
                <li><a href="#rollenmodell">Rollenmodell</a></li>
                <li><a href="#herausforderungenUndLösungen">Herausforderungen & Lösungen</a></li>
                <li><a href="#projektmanagement">Projektmanagement</a></li>
            </ul>
        </nav>

    </div>
    <div class="content">
        <section id="einleitung">
            <h2>Einleitung</h2>
            <hr>
            <h3>1.1 Ausgangssituation</h3>
            <article>
                Das Ingenieurbüro der Firma IB-Horsch ist


            </article>
            <p class="jump"><a href="#top">&uarr;&nbsp;nach oben</a></p>
        </section>
        <section id="team">
            <h2>Team</h2>

        </section>

    </div>
</div>

</body>
</html>