:root {
    --background-color: rgb(203, 203, 203);
    --border-radius: 3px;
    --font-family: "Calibri";
    --text-color: #414141;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, input, textarea, label
{
    font-family: var(--font-family);
    text-align: left;
}
h3
{
    margin: unset;
}

h4
{
    margin: 10px 0px 0px 0px;
}
input
{
    border-radius: var(--border-radius);
    font-family: var(--font-family);
}
legend
{
    margin: unset;
}

textarea
{
    border-radius: var(--border-radius);
    font-family: var(--font-family);
}
