body {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0fr 0fr;
    grid-template-rows: 0fr 0fr;
    gap: 0 0;
    grid-template-areas:
    "head head . ."
    "nav content . ."
    ". . . .";
}


.head { grid-area: head;
    background-color: #154d8e;
    color: #e3e3e3;
    text-align: center;
    padding-bottom: 8px;
}

.head h1 {
    margin-bottom: 10px;
}


.nav {
    grid-area: nav;
    background-color: #18559d;
    color: #e3e3e3;
    min-width: 230px;
    padding: 0 30px 0 20px;
    font-size: 20px;
    line-height: 31px;
}
.fixedPosition {
    position: fixed;
}
.nav ul li {
    list-style: decimal;
    color: #e3e3e3;
    padding-left: 5px;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color: #e3e3e3;
}
.nav a:hover{
    border-bottom: white 1px solid;
}
.content { grid-area: content;
    font-family: "Arial";
    background-color: #e3e3e3;
    padding: 50px;
    text-align: justify;
    border-top: 4px solid;
    border-left: 4px solid;
    border-color: #b7b7b7;
    line-height: 2;
}

.content h2{
    margin-bottom: 10px;
}

.content h3{
    margin-top: 7px;
}

.content ul {
    margin-top: 3px;
}

.jump a{
    color: #1960B8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.picture {
    padding: 20px;
    text-align: center;
    border: #2F2D2C 2px dashed;
    background-color: #bec7cc;
    max-width: 100%;
}
.bigPicture {
    padding: 20px;
    text-align: center;
    border: #2F2D2C 2px dashed;
    background-color: #bec7cc;
    max-width: 100%;
}
.picture img {
    max-width: 950px;
    width: 100%;
    height: auto;
}
.bigPicture img {
    height: auto;
    max-width: 1800px;
    width: 100%;
}

table {
    width: 70%;
    max-width: 1500px;
    margin: 15px 0 50px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th {
    width: 15%;
    padding: 5px;
    text-align: center;
    background-color: #1960B8;
    color: white;
}
tr:nth-child(odd) {
    background-color: #f5f5f5;
}
tr:nth-child(even) {
    background-color: #c4c4c4;
}
.timeTable tr {
    display: table-row;
    vertical-align: baseline;
    border-color: inherit;
}
.timeTable td {
    display: table-cell;
    vertical-align: baseline;

}
.timeTable table{
    vertical-align: top;
}
.timeTable th {
    width: 0;
}
.timeTable ul {
    list-style: none;
    padding-left: 0;
    text-align: start;
}
