/*--------------- CSS - Document IBHorsch ----------------*/

/*-------------- general layout properties ---------------*/
/*

1. General setup
2. head properties
3. navigation properties
4. main menu dropdown
5. general submenu properties
6. first submenu properties
7. second submenu properties
8. general content properties
9. footer properties
 */

/*--------------------- general setup ---------------------*/
:root {
    --headsize: 144px;
    --headcolor: #1960B8;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*=================== end of general setup ================*/


/*-------------------- head properties --------------------*/

header {
    height: var(--headsize);
    font-size: 24px;
}

body {
    margin: unset;
    padding: unset;
    font-family: "Roboto";
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

/*================= end of head properties =================*/


/*------------------ navigation properties -----------------*/

nav {
    width: 100%;
}

nav ul {
    position: absolute;
    display: block;
    background: rgba(25, 96, 184, 0.98);
    top: 145px;
    left: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: none;
    max-width: 991px;
/*    list-style-type: none;*/

    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #FFFFFF;

    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;

}

nav a {
/*    font-family: Roboto;*/
    font-size: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

/* ----------------- main menu dropdown-----------------*/

.menuToggle {
    display: none;
}

@media screen and (max-width: 992px) {
    .menuToggle:checked + .navigation li {
        display: block /*!important*/;
    }
}

#respNav {
    background-color: #FFFFFF;
    display: flex;
    height: 28px;
    border-top: solid #3e70ad;
    border-bottom: solid #3e70ad;
}


#respNav label {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(25, 96, 184, 0.90);
}
#respNav label img {
    height: 70%;
    /*    margin-top: auto;
        margin-bottom: auto;*/
}

/*=============== end of main menu dropdown =============*/


/* -------------- general submenu properties -------------*/

.subMenuToggle {
    display: none;
}

.subNavigation {
    position: absolute;
    display: none;
    top: 14px;
    background-color: rgba(96, 140, 188, 0.92);
}

.subNavigation a {
    font-size: 18px;
}

.subNavigation ul li {
    border-top: 0;
    border-bottom: 0;
}


/*================= end of general submenu =================*/


/*---------------- first submenu properties -----------------*/

#respSubNavHome label {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 21px;
    color: #FFFFFF;
    text-align: center;

    background: rgba(25, 96, 184, 0.90);

}
/*Only for mobile navigation*/
@media screen and (max-width: 992px) {
    .subMenuToggle:checked + .subNavigation {
        display: block /*!important*/;
        position: relative;
    }
}

/*====================== end of submenu ====================*/


/* --------------- second submenu properties ---------------*/

#respSubNav label {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 21px;
    color: #FFFFFF;
    text-align: center;

    background: rgba(25, 96, 184, 0.90);

}

/*====================== end of submenu =====================*/


/*===================== end of navigation ===================*/

#head_container {
    display: flex;
    position: relative;
    justify-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.92);
}

#sek-head-logo {
    display: flex;
}

#sek-head-logo img {
    width: 130px;
    padding: 15px 0 15px 0;
}

#sek-headcontent {
    margin-left: 70px;
}

#sek-headcontent h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 7px;
}

#sek-headcontent h2 {
    display: flex;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 0;
}

/*======================= end of head =======================*/

/*---------------- general content properties ---------------*/

#content-wrap {
    padding: 15px 0 300px;
    max-width: 992px;
    /*    margin-left: auto;
        margin-right: auto;*/
    /*    margin-top: 30px;*/
    background: rgba(255, 255, 255, 0.92);
}

/*================== end of general properties ===============*/

/*---------------------- footer properties ------------------ */
footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 280px;
    background: var(--headcolor);
    opacity: 0.7;
    text-align: left;
    bottom: 0;
    padding: 0;

}

footer section {
    width: 750px;
    justify-content: space-around;
}


footer ul {
    width: 100%;
    list-style-type: none;
    max-width: 1440px;
    padding-bottom: 12px;
    text-align: left;
    margin: 0 auto;

}

footer ul li {
    font-size: 0.8em;
    line-height: 15px;
    color: #E2DBDB;
    padding: 0 0.625em 0 0.625em;

}

footer ul h2 {
    color: #FFFFFF;
    padding-left: 10px;
}

footer ul li img {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 10px;
}

footer .left {
    float: left;
    background: var(--headcolor);
    margin-top: 25px;
}

footer .right {
    float: right;
    background: var(--headcolor);
    margin-top: 50px;
}

/*============================================================*/
/*============ end of general layout properties ==============*/


/* ----------------- main page properties ------------------- */

#mainImage {
    display: none;
    margin-top: 40px;
    margin-bottom: 50px;
}

#mainImage img {
    background: rgba(255, 255, 255, 0.92);
    display: flex;
    max-width: 100%;
    margin: auto;
    border: solid 0;
    border-radius: 20px;
}

.mainArticle img {
    min-width:93%;
    max-height: 33%;
}

.mainArticle {
    display: flex;
    padding: 15px;
    margin: 15px;
    height: auto;
    border-style: solid;
    border-radius: 20px;
    max-width: 40%;
    /*        height: 500px;*/

    justify-content: center;
    min-width:350px;

}

.allArticles {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.mainArticle img {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    max-width: 200px;
    /*    padding:10px;*/
    margin: 10px;
    border-radius: 20px;
}

article {
    display: inline-block;
}

#brandschutz {
/*    background: #FF8F8F;*/
    border-color: #8E0000;
}

#waermeschutz {
    background: #FFF6A6;
    border-color: #8E8900;
}

#tragwerkplanung {
    background: #CCEBCF;
    border-color: #154300;
}

#eingabeplanung {
    background: #E2F0FF;
    border-color: #00418E;
}

#certifications {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certification {
}

.certification img {
    width: 200px;
    height: 200px;
    border: solid #000000;
    border-radius: 50%;
    margin: 10px;
}

.picFloatLeft img {
    float: unset;
}

.picFloatRight img {
    float: unset;
}

/*================= end of main page properties ===============*/

/*------------------ imprint style properties ----------------*/
#imprintImage {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

#imprintImage img {
    background: #FFFFFF;
    display: flex;
    max-width: 100%;
    margin: auto;
    border: solid 0;
    border-radius: 10px;
}

#address {
    line-height: 5px;
    font-size: 14px;

}

#imprintTable {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    flex-direction: column;
    text-align: left;
    padding-top: 0;
    line-height: 17px;
}

#imprintTable .white {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-start;
    background: #FFFFFF;
    float: left;
}

#imprintTable .gray {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-start;
    background: #D3D3D3;
    float: left;
}

#imprintTable ul {
    padding-left: 0;
    list-style-type: none;

}

#imprintTable .left {
    float: left;
    width: 40%;
    /*padding-right: 165px;*/
}

#imprintTable .right {
    float: left;


}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}


/*------------------------ Responsive > 992 px ----------------------------*/

@media screen and (min-width: 992px) {
    :root {
        --headsize: 152px;
    }

    /*---------------------- clear mobile ------------------*/
    #respNav {
        display: none;

    }

    #respSubNav label {
        display: inline-flex;
        width: inherit;
        height: inherit;
        font-size: inherit;
        color: #414141;
        background: inherit;

    }

    #respSubNavHome label {
        background: none;
        position: relative;
        display: inline-flex;
        color: #414141;
        font-size: inherit;
    }


    .subMenuToggle {
        display: none;
    }

    .menuToggle:checked + .navigation li {
        display: none /*!important*/;
    }


    .subMenuToggle:checked + .subNavigation {
        display: none /*!important*/;
    }

    .subNavigation {
        display: none;
        position: absolute;
        top: 53px;
        flex-direction: row;
    }

    .subNavigation li:hover{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    #respSubNavHome li:hover > input[type="checkbox"] + .subNavigation {
        display: block;
        background-color: inherit;
    }

    #respSubNav li:hover > input[type="checkbox"] + .subNavigation {
        display: block;
        background-color: inherit;
    }

    /*--------------------------------------------------*/
    body {
        margin: unset;
        padding: unset;
/*        font-family: "Roboto";*/
        background-image: url("../images/background.jpg");
        background-size: 100%;
        background-attachment: fixed;
    }

    .box {
        background-color: var(--headcolor);
        position: relative;
        width: 100%;
        height: 95%;
    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding: 15px 200px 300px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    header {
        height: var(--headsize);
        font-size: 24px;
    }

    /* ------------------------------ NAVIGATION BAR ------------------------------- */
    nav {
        display: flex !important;
        /*        margin: unset;*/
        /*            display: block;
                    align-items: center;*/
        height: 20px;
        width: 100%;
        margin-top: 19px;
    }

    nav ul {
/*        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;*/
        border-radius: 5px;

        margin: 0;
        position: inherit;
        display: inherit;
        background: inherit;
        width: inherit;
        list-style: none;
        transform-style: inherit;
    }

    nav ul li {
        display: inline-flex;
        position: relative;
        max-width: inherit;
        list-style-type: none;
        border-top: 0;
        border-bottom: 0;
        border-color: inherit;
        width: 100%;
/*        text-align: center;*/

    }

    nav .navigation {
        display: flex;
        align-items: center;
        margin: 10px 0 15px -100px;
    }

    nav .navigation .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .navigation li {
        list-style-type: none;
    }

    nav .navigation a {
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-size: 0 0;
        color: #414141;
        font-size: 24px;
        margin: 0 0;
        padding: 0 15px;
        text-decoration: none;
        transition: background-size .2s;
        width: 100%;
        text-align: center;
    }

    nav .navigation label {
        background-size: 0 0;
        color: #414141;
        font-size: 24px;
        margin: 0 0;
        padding: 0 15px;
        text-decoration: none;
        transition: background-size .2s;
        cursor: pointer;
    }

    nav .navigation a:hover {
        color: var(--headcolor);
/*        border-bottom: solid 2px;*/
        transition-delay: 5ms;
        transition-duration: 9ms;
    }

    nav .navigation label:hover {
        background-color: var(--headcolor);
        color: var(--headcolor);
        transition-delay: 5ms;
        transition-duration: 9ms;
        border: 0;
    }

    nav .navigation a:after {
        color: var(--headcolor);
    }

    nav .navigation li:hover {
        /*background: rgb(218, 234, 255);*/
        background: rgb(214, 234, 255);
        border-radius: 5px;
    }

/*    nav a:hover {
        background-size: 4px 50px;
        !*    border-bottom: solid;
            border-color: var(--headcolor);
            transition-duration: 0.6s;*!
    }*/

/*    ul #respSubNavHome li:hover {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }*/

    ul .subNavigation li:hover {
        background: rgb(172, 212, 253);
    }

    ul .subNavigation a {
        font-size: 19px;
    }

    .submenu {
        display: flex;
        position: absolute;
        visibility: hidden;
        height: 0;
        width: 100px;
        justify-content: center;

    }

   /* .submenu li {

        float: left;
        width: 100px;
        !* width: 15em; *!
        list-style-type: none;
        transition-duration: 9ms;

    }

    .submenu a {
        font-size: 21px !important;
        !*    border-radius: 0 !important;*!
        !*    transition: background-size 2s !important;*!
        !*    border-bottom: solid 2px !important;*!

    }

    !**     Show the submenu on hover, focus     **!
    nav li:hover .submenu,
    nav li:active .submenu,
    nav li:focus .submenu {
        visibility: visible;
        transform-style: preserve-3d;
        transition-delay: 9ms;
        height: auto;
    }

    nav .navigation .submenu .a {
        color: black;
    }

    nav li:focus-within .submenu {
        visibility: visible;
        height: auto;
    }
*/
    #head_container {
        position: relative;
        /*        position: fixed;*/
        justify-items: center;
        justify-content: center;

        width: 100%;
        margin-right: auto;
        margin-left: auto;
        border-bottom-style: solid;
        border-size: 15px;
        border-color: var(--headcolor);
        display: grid;
        grid-template-columns: min-content auto auto auto;
        grid-template-rows: auto;
        gap: 0 0;
        grid-template-areas:
    "logo content content ."
    ". . . ."
    ". . . .";
    }

    #sek-head-logo img {
        width: 230px;
        padding: 15px 0 25px 50px;
        grid-area: logo;
    }

    #sek-headcontent {
        margin-left: 70px;
        grid-area: content;
    }

    #sek-headcontent h1 {
        margin-top: 15px;
        margin-bottom: 7px;
        font-size: 40px !important;
    }

    #sek-headcontent h2 {
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 0;
        font-size: 30px;
    }

    #sek-nav-container {

        padding: 0;
    }

    #sek-break-line {
        background-color: var(--headcolor);
    }

    /* ------------------------------ MAIN PAGE ------------------------------- */
    #mainImage {
        display: flex;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    #mainImage img {
        background: #FFFFFF;
        display: flex;
        max-width: 100%;
        margin: auto;
        border: solid 0;
        border-radius: 20px;
    }

    .allArticles {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mainArticle {
        display: flex;
        padding: 15px;
        margin: 15px;
        border-style: solid;
        border-radius: 20px;
        width:100%;
        justify-content: center;
        max-width:900px;

    }
    .mainArticle h2{
        margin-bottom: 7px;
    }

    .mainArticle img {
        display: flex;
        border-style: solid;
        border-color: black;
        max-width: 200px;
        /*    padding:10px;*/
        margin: 20px 20px 5px 20px;
        border-radius: 20px;
        min-width: 200px;
        min-height: 120px;
        align-items: center;

    }

    article {
        display: inline-block;
        text-align: justify;
    }

    #brandschutz {
        /*background: #FF8F8F;*/
        background-image: url("../images/services/brandschutzBg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        border-color: #8E0000;
    }

    #waermeschutz {
        background: #FFF6A6;
        border-color: #8E8900;
    }

    #tragwerkplanung {
        background: #CCEBCF;
        border-color: #154300;
    }

    #eingabeplanung {
        background: #E2F0FF;
        border-color: #00418E;
    }

    #certifications {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .certification {
    }

    .certification img {
        width: 200px;
        height: 200px;
        border: solid #000000;
        border-radius: 50%;
        margin: 10px;
    }

    .picFloatLeft img {
        float: left;
    }

    .picFloatRight img {
        float: right;
    }

    /*    !* ------------------------------ IMPRINT ------------------------------- *!
        #imprintImage {
            display: flex;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        #imprintImage img {
            background: #FFFFFF;
            display: flex;
            max-width: 100%;
            margin: auto;
            border: solid 0px;
            border-radius: 10px;
        }

        #address {
            line-height: 5px;
            font-size: 14px;

        }

        #imprintTable {
            display: flex;
            justify-content: flex-start;
            width: 70%;
            flex-direction: column;
            text-align: left;
            padding-top: 0px;
            line-height: 17px;
        }

        #imprintTable .white {
            align-items: center;
            display: flex;
            height: 50px;
            justify-content: flex-start;
            background: #FFFFFF;
            float: left;
        }

        #imprintTable .gray {
            align-items: center;
            display: flex;
            height: 50px;
            justify-content: flex-start;
            background: #D3D3D3;
            float: left;
        }

        #imprintTable ul {
            padding-left: 0px;
            list-style-type: none;

        }

        #imprintTable .left {
            float: left;
            width: 40%;
            !*padding-right: 165px;*!
        }

        #imprintTable .right {
            float: left;


        }
        */
    /*---------------------------- ABOUTUS PAGE ---------------------------*/
    .textWithPicture {
        display: flex;
    }

    .textWithPicture img {
        float: right;
        width: 400px;
        display: flex;
        margin-left: 15px;
        margin-bottom: 20px;
        padding-top: 19px;

    }

    .textWithPicture article {
        display: inline-block;
        text-align: justify;
    }

    .enumeration ul {
        list-style-type: disc;
    }

    .enumeration li {
        line-height: 25px;
    }

    .textbox {
        width: 60%;
        border-radius: 20px;
        background: #cfcdcd;
        border: 1px solid #949494;
        padding-left: 10px;
        padding-right: 10px;
    }

    .aboutUs {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    #maintext {
        text-align: justify;

    }

    .aboutUsImage img {
        width: 100%;
        margin-top: 10px;
    }

    .aboutUs h1 {
        margin-bottom: 0;
    }
}
/*---------------------------- ADMINISTRATION PAGE ---------------------------*/
.adm_menu{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height:700px;
    width: 95%;
}
.adm_menu h2{
    padding-left: 30%;
    padding-right: 30%;
}
.menubar {
    vertical-align:   top;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    border: 2px solid #1b63b8;
    background-color: #1960B8;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 10px;
    max-width:800px;
    min-width: 100px;
    padding: 0 50px 0 50px;
}
.menubar li {
    list-style:       sqaure;
    font-weight:      100;
    color:            #2F2D2C;
    line-height:      1.25em;
    padding:          0;
    margin:           0.313em 0 0.313em 0;
    text-align:       justify;
}
.menubar a {
    text-decoration: none;
    color: #ffffff;
}
.adm_menu aside {
    display:          flex;
    width:            80%;
    min-height: 70%;
    margin-left:      0;
    text-decoration: none;
    list-style: none;
    border: 2px solid #1b63b8;
    background-color: #ddedfd;
    border-radius: 10px;
    padding: 20px;
    vertical-align:   top;
}


