
/* ------------------------------ NAVIGATION BAR ------------------------------- */

.secondNavigation {
    font-size: 16px;
    background-color: #504E4E;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.secondNavigation li {
    list-style-type: none;
}

.secondNavigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.secondNavigation .text {
    display: flex;
    align-items: center;
    min-height: 24px;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 12px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

.secondNavigation .text:hover{
    background-color: #818080;

}
.secondNavigation ul li img:hover{
    background-color: #818080;

}

.secondNavigation ul li img{
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 12px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}


/* ------------------------------ Search button -------------------------------*/

#suche {
    border-radius: 30px;
    font-size: 20px;
    width: 350px;
}
#suche:focus {
    border: none;
    outline: none;
}
/* ------------------------------ Item Display -------------------------------*/

#itemDisplay {
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-height: 1400px;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #1960B8;
    opacity: 0.7;

}

.item {
    border: 3px solid ;
    margin: 10px;
    padding:12px;
    width: 350px;

    border-radius: 10px;
    background-color: #eae8e8;

}

.item img
{
    display: flex;
    border-style: solid;
    border-color: black;
    max-width: 150px;
    max-height:200px;
    /*    padding:10px;*/
    margin: 10px;
    border-radius: 20px;
    float: right;
}

.break-column {
    break-after: auto;
}

/* ------------------------------ Responsive -------------------------------*/
@media screen and (max-width:1650px) {
    #itemDisplay {
        max-height: 2000px;
        justify-content: center;
    }
    .secondNavigation {
        font-size: 14px;
    }
}
@media screen and (max-width:1120px) {
    #suche {
        width:100px;
    }
}

@media screen and (max-width:1220px) {
    #itemDisplay {
        max-height: 4000px;
    }
    #itemDisplay {
        min-width: 400px;
    }
    .secondNavigation {
        min-width: 400px;
    }
}

/* ------------------------------ Categories -------------------------------*/
.categories {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.categories .button {
    display:flex;
    justify-content: center;
    border: 2px solid ;
    background-color: #1960B8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    min-width:230px;
    margin-bottom: 9px;
    margin-right: 9px;
    transition: background-color 0.2s ease-out;
}

.button:focus {
    background-color: #1196ee;
    border: none;
    outline: none;
}

/* ------------------------------ First Carousel-------------------------------*/
@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

.carousel body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.carousel * {
    box-sizing: border-box;
    -ms-overflow-style: none;
}

.carousel *::-webkit-scrollbar {
    display: none;
}

.carousel ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 100%;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #1960B8;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #1960B8;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* ------------------------------ Second Carousel-------------------------------*/
.PagesSlider img {
    width: 100%;
}

.PagesSlider {
    position: relative;
    width: 100%;
    height: 25.5625em;
    margin: 2.1875em auto 0 auto;
}

.PagesSlider-slides {
    display: flex;
}

.PagesSlider-slide {
    position: absolute;
    padding-left: 1em;
    top: 3.5625em;
    width: 20em;
    height: 16.9375em;
}
.PagesSlider-slide:nth-child(1) {
    -webkit-animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(2) {
    -webkit-animation: PagesSlider-animation 20s -5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(3) {
    -webkit-animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(4) {
    -webkit-animation: PagesSlider-animation 20s -10s ease-in-out infinite;
    animation: PagesSlider-animation 20s -10s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(5) {
    -webkit-animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(6) {
    -webkit-animation: PagesSlider-animation 20s -15s ease-in-out infinite;
    animation: PagesSlider-animation 20s -15s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(7) {
    -webkit-animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(8) {
    -webkit-animation: PagesSlider-animation 20s -20s ease-in-out infinite;
    animation: PagesSlider-animation 20s -20s ease-in-out infinite;
}

@-webkit-keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%);}
    100%, 100%   {transform: translateX(-300%);}
}

@keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%)}
    100%, 100%   {transform: translateX(-300%);}
}