/*======================== DESIGN-PRODUCTS.CSS - Document IBHorsch ========================*/

/*======================================= CONTENTS ========================================*/
/*
 1. SUB NAVIGATION BAR
 2. PRODUCTS
 3. SHOPPING CART
 */
/* ------------------------------ START SUB NAVIGATION BAR ------------------------------- */
.secondNavigation {
    font-size:          1em;
    background-color:   #504E4E;
    height:             3.75em;
    width:              100%;
    margin:             0 auto;
    padding:            0;
    display:            flex;
    flex-flow:          row;
    flex-wrap:          nowrap;
    align-items:        center;
    justify-content:    center;
}
.secondNavigation li {
    list-style-type:    none;
}
.secondNavigation a {
    color:              #FFFFFF;
    text-decoration:    none;
}
.secondNavigation .text {
    color:              #FFFFFF;
    display:            flex;
    align-items:        center;
    min-height:         1.5em;
    border-left:        solid 0.0625em;
    border-right:       solid 0.0625em;
    background-size:    0 0;
    margin:             0 1em;
    padding:            0 0.75em;
    text-decoration:    none;
    transition:         background-color 0.5s ease-out;
}
#search {
    border-radius:      1.5em;
    font-size:          1.25em;
    width:              17.5em;
    border:             none;
    outline:            none;
    margin-right:       0.25em;
    margin-left:        0.25em;
}
.secondNavigation .text:hover{
    background-color:   #818080;
}
.secondNavigation ul li img:hover{
    background-color:   #818080;
}
.secondNavigation ul li img{
    display:            inline-block;
    width:              1.5625em;
    height:             1.5625em;
    float:              left;
    border-left:        solid 0.0625em;
    border-right:       solid 0.0625em;
    background-size:    0 0;
    color:              white;
    margin:             0 1em;
    padding:            0 0.75em;
    text-decoration:    none;
    transition:         background-color 0.5s ease-out;
}
@media screen and (max-width:70em) {
    #search {
        width:              6.25em;
    }
}
@media screen and (max-width:62em) {
    #search {
        width:              17.5em;
    }
}
/* ------------------------------ END SUB NAVIGATION BAR ------------------------------- */

/* ---------------------------------- START PRODUCTS ------------------------------------*/
#itemDisplay {
    width:              100%;
    display:            flex;
    min-width:          25em;
    justify-content:    center;
    flex-direction:     row;
    align-items:        stretch;
    flex-wrap:          wrap;
    background:         linear-gradient(rgba(179, 179, 179, 0.51), rgba(255, 255, 255, 0));
}
.item {
    border-bottom:      0.3em var(--headcolor) solid;
    margin:             0.625em;
    padding:            0.75em;
    width:              21.875em;
    height:             auto;
    border-radius:      0.125em;
    background-color:   white;
}
.item img {
    display:            flex;
    border:             0.1em solid black;
    max-width:          9.375em;
    max-height:         12.5em;
    margin:             0.625em;
    border-radius:      0.2em;
    float:              right;
}
.item .btn {
    background:         #5cca8e;
    color:              #fff;
    border-color:       #2F2D2C;
    float:              right;
    font-size:          inherit;
    font-family:        'Raleway', sans-serif;
    font-weight:        bolder;
    cursor:             pointer;
    padding:            0.9375em 1.25em;
    margin-right:       0.3125em;
    text-transform:     uppercase;
    letter-spacing:     0.0625em;
    outline:            none;
    position:           relative;
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    transition:         all 0.3s;
}
.item .btn:hover {
    background:         #27ae60;
}
.item .btn:active {
    background:         #27ae60;
    top:                0.125em;
}
.item .btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.categories {
    display:            flex;
    justify-content:    center;
    flex-wrap:          wrap;
    flex-direction:     row;
    padding-top:        0.5em;
    background-color:   #cacaca;
}
.categories form {
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
}
.btn {
    cursor:             pointer;
    font-size:          0.9375em;
    font-family:        'Raleway', sans-serif;
    display:            flex;
    justify-content:    center;
    border:             0.1111em solid ;
    background-color:   #1960B8;
    color:              white;
    padding:            0.8334em 1.7777em;
    text-align:         center;
    text-decoration:    none;
    min-width:          12.7779em;
    margin-bottom:      0.5em;
    margin-right:       0.5em;
    transition:         background-color 0.2s ease-out;
}

.btn a {
    color: inherit;
    text-decoration:    none;
}

.btn:focus {
    background-color:   #1196ee;
    border:             none;
    outline:            none;
}
.btn:hover {
    background-color:   #5aace9;
}
/* ----------------------------------- END PRODUCTS -------------------------------------*/

/* -------------------------------- START SHOPPING CART ---------------------------------*/
.checkout .btn {
    margin:             0.5em 0 0 0.8em;
    min-width:          10em;
}
.checkout .btn.disabled {
    opacity: .5;
    pointer-events: none;
}


.cartDisplay h2 {
    font-size:          1.563em;
    line-height:        1.8em;
    margin:             0;
    padding-left:       0.5em;
    padding-top:        0.5em;
    text-align:         left;
}
.cartDisplay p {
    line-height:        1.25em;
    text-align:         justify;
}
.cartDisplay ul {
    margin:             0;
    padding:            0;
}
.cartDisplay li {
    list-style:         sqaure;
    line-height:        1.25em;
    padding:            0;
    margin:             0.313em 0 0.313em 0;
    text-align:         justify;
}
.cartDisplay {
    background:         linear-gradient(rgba(179, 179, 179, 0.51), rgba(255, 255, 255, 0));
    display:            flex;
    width:              94%;
    padding:            3%;
}
.wholeCart {
    display:            flex;
    flex-direction:     column;
    width:              66%;
    background:         white;
    margin:             0;
    border-bottom:      0.3em var(--headcolor) solid;
}
.wholeCart hr{
    color:              #ABAFB5;
    border:             0.01em solid;
    width:              98%;
}
.wholeCart p {
    margin:             1em;
}
.cartDisplay aside {
    display:            inline-block;
    width:              31%;
    margin-left:        3%;
    padding:            0;
    vertical-align:     top;
}
.checkout{
    border-bottom:      0.3em var(--headcolor) solid;
    padding-bottom:     1.75em;
    background:         white;
}
.cartDisplay article h2 {
    padding:            0.5em 0 0 1.8em;
}
.counter .box {
    margin-top:         0.5em;
    width:              1.25em;
    height:             1.5em;
    background-color:   #1960B8;
    float:              left;
    text-align:         center;
    color:              white;
    font-size:          1em;
    line-height:        1.5em;
    align-items:        end;
    user-select:        none;
}
.counter .box.disabled {
    opacity: .5;
    pointer-events: none;
}
#leftBox {
    margin-left: 0.5em;
    background-color:   #ABAFB5;
    border-top:         solid 0.05em;
    border-left:        solid 0.05em;
    border-bottom:      solid 0.05em;
    border-color:       #2F2D2C;
    cursor:             pointer;
}
#rightBox {
    background-color:   #ABAFB5;
    border-top:         solid 0.05em;
    border-right:       solid 0.05em;
    border-bottom:      solid 0.05em;
    border-color:       #2F2D2C;
    cursor:             pointer;
}
#centerBox {
    width:              1.75em;
    border-top:         solid 0.05em;
    border-bottom:      solid 0.05em;
    border-color:       #2F2D2C;
}
#leftBox:hover {
    background:         #b55757;
}
#leftBox:active {
    background:         #8a0619;
    top:                0.125em;
}
#rightBox:hover {
    background:         #27ae60;
}
#rightBox:active {
    background:         #028039;
    top:                0.125em;
}
.cartItem {
    display:            flex;
    margin-bottom:      0;
    width:              93%;
    height:             8.125em;
    justify-content:    space-between;
}
.cartItem .counter{
    display:            flex;
    align-items:        center;
}
.cartItem img {
    display:            flex;
    margin-left:        0.375em;
    border:             black 0.0625em solid;
    align-items:        center;
    width:              9.375em;
    height:             auto;
}
.descriptionAll {
    display:            flex;
    flex-direction:     column;
    padding-left:       0.3125em;
    justify-content:    center;
}
.descriptionAll li{
    list-style:         none;
}
.descriptionAll p{
    font-size:          2em;
    padding-top:        0.1875em;
    padding-bottom:     0.1875em;
    margin:             0;
}
.iconImg img {
    display:            flex;
    align-items:        center;
    width:              2em;
    height:             2em;
    border:             0;
}
.iconImg {
    padding-left:       0.0625em;
    padding-top:        0.3125em;
    display:            flex;
    align-items:        center;
}
.price {
    font-weight:        700;
}
#productName {
    font-weight:        bold;
}

#noResults {
    display:            none;
    width:              auto;
    border:             none;
    text-align:         center;
    font-weight:        bold;
}
/* -------------------------------- END SHOPPING CART------------------------------------*/

/* ---------------------------------- START CHECKOUT-------------------------------------*/
.checkoutDisplay {
    width:              80%;
    padding:            10px;
    background-color:   white;
    margin-left:        auto;
    margin-right:       auto;
    border-bottom:      var(--headcolor) 3px solid;
    filter:             drop-shadow(0 0 0.625em #C4C4C4);
}
.informationDisplay {
    display:            flex;
    justify-content:    center;
}
.informationDisplay .address {
    margin-left:        5%;
}
.buttonDisplay {
    display:            flex;
    justify-content:    center;
}
.buttonDisplay .btn {
    margin-left:        3%;
}
.memberInformation {
    width:              100%;
    border:             black 1px solid;
    margin-bottom:      20%;
}
.memberInformation ul {
    margin-left:        -20px;
}
.addressInformation {
    width:              100%;
    border:             black 1px solid;
}
.addressInformation ul {
    margin-left:        -20px;
}
.orderDetails {

}
.orderDetails .cartItem {
    display:            flex;
    margin-bottom:      0;
    width:              100%;
    height:             5.5em;
    justify-content:    flex-start;
}
.orderDetails .cartItem .counter{
    display:            flex;
    align-items:        center;
}
.orderDetails .cartItem img {
    display:            flex;
    margin-left:        0.375em;
    border:             black 0.0625em solid;
    align-items:        center;
    width:              7em;
    height:             5.2em;
}
.orderDetails .descriptionAll {
    display:            flex;
    flex-direction:     column;
    min-width:          12.5em;
}
.orderDetails .descriptionAll li{
    list-style:         none;
}
.orderDetails .cartItem p{
    min-width:          4em;
    font-size:          1.5em;
    margin-left:        5%;
}
.orderDetails .totalPrice {
    font-weight:        700;
    width:              100%;
    display:            flex;
    justify-content:    flex-end;
}
.orderDetails .itemPrice {
    display:            flex;
    justify-content:    flex-end;
    align-items:        flex-end;
    width:              100%;
}
/* ----------------------------------- END CHECKOUT--------------------------------------*/
