/*========================== DESIGN-INDEX.CSS - Document IBHorsch =========================*/

/*======================================= CONTENTS ========================================*/
/*
 1. GENERAL SETUP
 2. HEAD PROPERTIES
 3. FOOTER
 4. NAVIGATION
 5. MAIN MENU DROPDOWN
 6. NEWS
 7. REDIRECT PAGE
 8. MAIN PAGE
 9. WELCOME ANIMATION
10. IMPRINT
11. ADMINISTRATION
12. ABOUTUS
 */
/*---------------------------------- START GENERAL SETUP ----------------------------------*/
:root {
    --headsize:         6.55em;
    --headcolor:        #1960B8;
    --overheadGrey:     #2f2f2fde;
}

#page-container {
    position:           relative;
    min-height:         100vh;
}
#content-wrap {
    padding:            0.9375em 0 0.625em;
    max-width:          62em;
    min-height:         31.0625em;
    z-index:            -1;
    background:         linear-gradient(rgba(255, 255, 255, 0.92), rgba(179, 179, 179, 0.92));
}
@media screen and (min-width: 62em) {
    :root {
        --headsize:         6.8em;
    }
    body {
        margin:             unset;
        padding:            unset;
        background-image:   url("../images/background.jpg");
        background-repeat:  no-repeat;
        background-attachment: fixed;
    }
    .box {
        background-color:   var(--headcolor);
        position:           relative;
        width:              100%;
        height:             95%;
    }
    #page-container {
        position:           relative;
        min-height:         100vh;
    }
    #content-wrap {
        display:            block;
        padding:            0.9375em 9.375em 0.9375em;
        max-width:          75em;
        margin-left:        auto;
        margin-right:       auto;
        margin-top:         0;
        min-height:         32.4375em;
        overflow:           hidden;
    }
    header {
        height:             var(--headsize);
        font-size:          1.5em;      /*24px*/
    }
}
/*----------------------------------- END GENERAL SETUP -----------------------------------*/

/*--------------------------------- START HEAD PROPERTIES ---------------------------------*/
header {
    height:             var(--headsize);
    font-size:          1.375em;        /*22px*/
}
body {
    margin:             unset;
    padding:            unset;
    font-family:        'Raleway', sans-serif;
    font-size:          1em;            /*16px*/
    background-image:   url("../images/background.jpg");
    background-size:    100% 100%;
    background-attachment: fixed;
}
#head_container {
    display:            flex;
    position:           relative;
    justify-items:      center;
    justify-content:    center;
    background:         rgba(255, 255, 255, 0.92);
}
#sek-head-logo {
    display:            flex;
}
#sek-head-logo img {
    width:              5.7em;
    padding:            0.68em 0 0.68em 0;
}
#sek-headcontent {
    margin-left:        2.59em;
}
#sek-headcontent a {
    color:              white;
    text-decoration:    none;
}
#sek-headcontent h1 {
    color:              var(--overheadGrey);
    font-size:          0.91em;         /*20px*/
    font-family:        'ubunturegular', serif;
    margin-top:         1.364em;
    margin-bottom:      0.318em;
}
#sek-headcontent h2 {
    color:              var(--overheadGrey);
    display:            flex;
    font-size:          1.091em;        /*24px*/
    font-family:        'ubuntuitalic', serif;
    margin-left:        0.833em;
    margin-top:         0;
}
/*---------------------------------- END HEAD PROPERTIES ----------------------------------*/

/*-------------------------------------- START FOOTER ------------------------------------ */
footer {
    display:            flex;
    justify-content:    center;
    position:           relative;
    bottom:             0;
    width:              100%;
    height:             18.75em;
    background:         rgba(59, 114, 179, 0.9);
    text-align:         left;
    padding:            0;
}
footer section {
    width:              46.876em;
    justify-content:    space-around;
}
footer ul {
    width:              100%;
    list-style-type:    none;
    max-width:          90em;
    padding-bottom:     0.75em

;
    text-align:         left;
    margin:             0 auto;
}
footer ul li {
    font-size:          0.8em;
    line-height:        1.1em;
    color:              #E2DBDB;
    padding:            0 0.625em 0 0.625em;
}
footer ul li a {
    text-decoration:    none;
    color:              inherit;
}
footer ul h2 {
    color:              white;
    padding-left:       0.625em;
    margin-bottom:      0;
}
footer ul li img {
    display:            inline-block;
    width:              1.25em;
    height:             1.25em;
    float:              left;
    padding-right:      0.625em;
}
footer .left {
    float:              left;
    margin-top:         1.5625em;
}
footer .right {
    float:              right;
    margin-top:         3.125em;
}
#impres {
    padding-top:        0.3125em;
    padding-left:       3.1875em;
}
/*--------------------------------------- END FOOTER ------------------------------------- */

/*------------------------------------ START NAVIGATION -----------------------------------*/
nav {
    width:              100%;
}
nav ul {
    position:           absolute;
    display:            block;
    background:         rgba(25, 96, 184, 0.98);
    top:                6.591em;
    left:               0;
    width:              100%;
    z-index:            1;
    margin:             0;
    padding:            0;
}
nav ul li {
    display:            none;
    max-width:          61.9375em;
    border-top:         solid 0.0625em;
    border-top:         solid 0.0625em;
    border-bottom:      solid 0.0625em;
    border-color:       white;
    text-align:         center;
    padding-top:        0.5em;
    padding-bottom:     0.5em;
}
nav a {
    font-size:          1em;
    color:              white;
    text-decoration:    none;
}
.subMenuToggle {
    display:            none;
}
.subNavigation {
    position:           absolute;
    display:            none;
    top:                0.6363636363636364em;
    background-color:   rgba(96, 140, 188, 0.92);
}
.subNavigation a {
    font-size:          0.9em;
}
.subNavigation ul li {
    border-top:         0;
    border-bottom:      0;
}
#respSubNav label {
    display:            block;
    width:              100%;
    height:             100%;
    font-size:          1em;
    color:              white;
    text-align:         center;
    background:         rgba(25, 96, 184, 0.90);
}
#respSubNavHome label {
    display:            block;
    width:              100%;
    height:             100%;
    font-size:          1em;
    color:              white;
    text-align:         center;
    background:         rgba(25, 96, 184, 0.90);
}
ul li a:hover + .hidden, .hidden:hover {
    display:            block;
}
@media screen and (max-width: 62em) {
    .subMenuToggle:checked + .subNavigation {
        display:        block;
        position:       relative;
    }
    .menuToggle:checked + .navigation li {
        display:        block;
    }
}
@media screen and (min-width: 62em) {
    nav {
        display:            flex !important;
        height:             1.25em;
        width:              100%;
        margin-top:         1.1875em;
    }
    nav ul {
        margin:             0;
        position:           inherit;
        display:            inherit;
        background:         inherit;
        width:              inherit;
        list-style:         none;
        transform-style:    inherit;
    }
    nav ul li {
        display:            inline-flex;
        position:           relative;
        max-width:          inherit;
        list-style-type:    none;
        border-top:         0;
        border-bottom:      0;
        border-color:       inherit;
        width:              100%;
    }
    nav .navigation {
        display:            flex;
        align-items:        center;
        margin:             0.625em 0 0.75em -0.75em;
    }
    nav .navigation .logo {
        display:            flex;
        align-items:        center;
        justify-content:    center;
    }
    nav .navigation li {
        list-style-type:    none;
    }
    nav .navigation a {
        border-top-left-radius: 0.182em;
        border-bottom-right-radius: 0.182em;
        background-size:    0 0;
        color:              #414141;
        font-size:          0.9125em;       /*20px*/
        margin:             0 0;
        padding:            0 0.682em;
        text-decoration:    none;
        transition:         background-size .2s;
        width:              100%;
        text-align:         center;
    }
    nav .navigation label {
        background-size:    0 0;
        color:              #414141;
        font-size:          0.667em;   /*24px*/
        margin:             0 0;
        padding:            0 0.625em;
        text-decoration:    none;
        transition:         background-size .2s;
        cursor:             pointer;
    }
    nav .navigation a:hover {
        color:              var(--headcolor);
        transition-delay:   5ms;
        transition-duration:9ms;
    }
    nav .navigation label:hover {
        background-color:   var(--headcolor);
        color:              var(--headcolor);
        transition-delay:   5ms;
        transition-duration:9ms;
        border:             0;
    }
    nav .navigation a:after {
        color:              var(--headcolor);
    }
    nav .navigation li:hover {
        background:         rgb(255, 255, 255);
    }
    ul .subNavigation li:hover {
        background:         rgb(172, 212, 253);
    }
    ul .subNavigation a {
        font-size:          0.792em;
    }
    .submenu {
        display:            flex;
        position:           absolute;
        visibility:         hidden;
        height:             0;
        width:              6.25em;
        justify-content:    center;

    }
    #head_container {
        position:           relative;
        justify-items:      center;
        justify-content:    center;
        width:              100%;
        margin-right:       auto;
        margin-left:        auto;
        border-bottom-style:solid;
        border-color:       var(--headcolor);
        display:            grid;
        grid-template-columns: min-content auto auto auto;
        grid-template-rows: auto;
        gap:                0 0;
        grid-template-areas:
                            "logo content content ."
                            ". . . ."
                            ". . . .";
    }
    #sek-head-logo img {
        width:              8.409090909090908em;
        padding:            0.682em 0 0.682em 0;
        grid-area:          logo;
    }
    #sek-headcontent {
        margin-left:        2.591em;
        grid-area:          content;
    }
    #sek-headcontent a {
        color:              var(--overheadGrey);
    }
    #sek-headcontent h1 {
        margin-top:         0.7em;
        margin-bottom:      0.234em;
        font-size:          1.364em !important;    /*30px*/
    }
    #sek-headcontent h2 {
        margin-top:         0.35em;
        margin-bottom:      0.35em;
        margin-left:        0;
        font-size:          0.9091em;       /*20px*/
    }
    #sek-nav-container {
        padding:            0;
    }
    #sek-break-line {
        background-color:   var(--headcolor);
    }
}
/*------------------------------------- END NAVIGATION ------------------------------------*/

/*-------------------------------- START MAIN MENU DROPDOWN -------------------------------*/
.menuToggle {
    display:            none;
}
#respNav {
    background-color:   white;
    display:            flex;
    height:             1.273em;
    border-top:         solid #3e70ad;
    border-bottom:      solid #3e70ad;
}
#respNav label {
    display:            block;
    width:              100%;
    height:             100%;
    text-align:         center;
    background:         rgba(25, 96, 184, 0.90);
}
#respNav label img {
    height:             70%;
}
@media screen and (min-width: 62em) {
    #respNav {
        display:            none;
    }
    #respSubNav label {
        display:            inline-flex;
        width:              inherit;
        height:             inherit;
        font-size:          0.91em;
        color:              #414141;
        background:         inherit;
    }
    #respSubNavHome label {
        background:         none;
        position:           relative;
        display:            inline-flex;
        color:              var(--overheadGrey);
        font-size:          0.91em;;
    }
    .subMenuToggle {
        display:            none;
    }
    .menuToggle:checked + .navigation li {
        display:            none;
    }
    .subMenuToggle:checked + .subNavigation {
        display:            none;
    }
    .subNavigation {
        display:            none;
        position:           absolute;
        top:                2.0em !important;
        flex-direction:     row;
    }
    #respSubNavHome li:hover > input[type="checkbox"] + .subNavigation {
        display:            block;
        background-color:   inherit;
        border-bottom:      0.2em var(--headcolor) solid;
    }
    #respSubNav li:hover > input[type="checkbox"] + .subNavigation {
        display:            block;
        background-color:   inherit;
        border-bottom:      0.3125em var(--headcolor) solid;
        border-bottom-left-radius: 0.125em;
        border-bottom-right-radius: 0.125em;
    }
}
/*--------------------------------- END MAIN MENU DROPDOWN --------------------------------*/

/* -------------------------------------- START NEWS --------------------------------------*/
.newsContent h1 {
    font-size:          2.5em;
    line-height:        3.8em;
    font-weight:        100;
    color:              #E2DBDB;
    margin:             0;
}
.newsContent h2 {
    font-size:          1.563em;
    line-height:        1.8em;
    font-weight:        inherit;
    color:              #2F2D2C;
    margin:             0;
    padding:            1.25em;
    text-align:         left;
}
.newsContent p {
    line-height:        1.25em;
    color:              #000000; !important;
    margin:             0;
    padding:            1.25em;
    text-align:         justify;
    font-weight:        inherit;
}
.newsContent ul {
    margin:             0;
    padding:            0;
}
.newsContent li {
    list-style:         sqaure;
    font-weight:        inherit;
    color:              #2F2D2C;
    line-height:        1.25em;
    padding:            0;
    margin:             0.313em 0 0.313em 0;
    text-align:         justify;
}
.newsContent img {
    width:              95%;
    height:             auto;
    max-width:          100%;
}
.newsContent a {
    text-decoration:    none;
}
.newsContent {
    background:         linear-gradient(rgba(179, 179, 179, 0.24), rgba(255, 255, 255, 0));
    font-size:          100%;
    display:            block;
    width:              93.75%;
    margin:             1.25em auto;
    padding:            1.875em;
}
.newsContent article {
    display:            inline-block;
    width:              65.3%;
    background:         #FFFFFF;
    vertical-align:     top;
    margin:             0;
    text-align:         center;
    border-bottom:      0.1875em var(--headcolor) solid;
}
.newsContent aside {
    display:            inline-block;
    width:              30.6%;
    margin-left:        3%;
    padding:            0;
    vertical-align:     top;
}
.newsContent aside section {
    margin-bottom:      1.563em;
    background:         white;
    border-bottom:      0.1875em solid #1960B8;
}
.newsContent article h2 {
    padding:            1em 1.8em 1em 1.8em;
}
.newsContent aside section ul {
    padding:            0 1.875em 1.25em 2.5em;
}
@media screen and (max-width:37.5em) {
    .newsContent aside,
    .newsContent article {
        width:              100%;
        display:            block;
        margin:             0.625em 0 0.625em 0;
    }
}
.PagesSlider img {
    width:              100%;
}
.PagesSlider {
    position:           relative;
    width:              100%;
    height:             12.5em;
    margin:             2.1875em auto 0 auto;
}
.PagesSlider-slides {
    display:            flex;
}
.PagesSlider-slide {
    position:           absolute;
    bottom:             -3.125em;
    padding-left:       1em;
    width:              20em;
    height:             16.9375em;
}
.PagesSlider-slide:nth-child(1) {
    -webkit-animation:  PagesSlider-animation 20s -2.5s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -2.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(2) {
    -webkit-animation:  PagesSlider-animation 20s -5s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(3) {
    -webkit-animation:  PagesSlider-animation 20s -7.5s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -7.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(4) {
    -webkit-animation:  PagesSlider-animation 20s -10s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -10s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(5) {
    -webkit-animation:  PagesSlider-animation 20s -12.5s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -12.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(6) {
    -webkit-animation:  PagesSlider-animation 20s -15s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -15s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(7) {
    -webkit-animation:  PagesSlider-animation 20s -17.5s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -17.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(8) {
    -webkit-animation:  PagesSlider-animation 20s -20s ease-in-out infinite;
    animation:          PagesSlider-animation 20s -20s ease-in-out infinite;
}
@-webkit-keyframes PagesSlider-animation {
    0%, 10% {
        transform:      translateX(500%);
    }
    12.5%, 22.5% {
        transform:      translateX(400%);
    }
    25%, 35% {
        transform:      translateX(300%);
    }
    37.5%, 47.5% {
        transform:      translateX(200%);
    }
    50%, 60% {
        transform:      translateX(100%);
    }
    62.5%, 72.5% {
        transform:      translateX(0%);
    }
    75%, 85% {
        transform:      translateX(-100%);
    }
    87.5%, 97.5% {
        transform:      translateX(-200%);
    }
    100%, 100% {
        transform:      translateX(-300%);
    }
}
@keyframes PagesSlider-animation {
    0%, 10% {
        transform:      translateX(500%);
    }
    12.5%, 22.5% {
        transform:      translateX(400%);
    }
    25%, 35% {
        transform:      translateX(300%);
    }
    37.5%, 47.5% {
        transform:      translateX(200%);
    }
    50%, 60% {
        transform:      translateX(100%);
    }
    62.5%, 72.5% {
        transform:      translateX(0%);
    }
    75%, 85% {
        transform:      translateX(-100%);
    }
    87.5%, 97.5% {
        transform:      translateX(-200%)
    }
    100%, 100% {
        transform:      translateX(-300%);
    }
}
/* --------------------------------------- END NEWS ---------------------------------------*/

/*---------------------------------- START REDIRECT PAGE --------------------------------- */
#messageBlock {
    display:            inline-flex;
    min-width:          100%;
    min-height:         31.25em;
    max-height:         100%;
    justify-content:    center;
}
#messageBlock p {
    margin-top:         auto;
    margin-bottom:      auto;
    background:         white;
    padding:            2.25em;
    border-bottom:      0.1875em var(--headcolor) solid;
    border-radius:      0.1875em;
    filter:             drop-shadow(0 0 0.625em #D3D3D3);
    text-align:         center;
}
#messageBlock p a {
    text-decoration:    none;
    color:              var(--headcolor);
}
#messageBlock noscript {
    font-size:          small;
}
/*----------------------------------- END REDIRECT PAGE ---------------------------------- */

/* ----------------------------------- START MAIN PAGE ----------------------------------- */
#mainImage {
    display:            none;
}
.mainArticle img {
    min-width:          93%;
    max-height:         33%;
}
.mainArticle {
    display:            flex;
    padding:            0.9375em;
    margin:             0.9375em;
    height:             auto;
    border-radius:      0.3125em;
    border-bottom:      0.3125em solid var(--headcolor);
    max-width:          40%;
    text-align:         justify;
    justify-content:    center;
    min-width:          21.875em;
    background-color:   white;
}
.allArticles {
    display:            flex;
    width:              100%;
    flex-wrap:          wrap;
    justify-content:    center;
}
.mainArticle img {
    display:            flex;
    justify-content:    center;
    border-style:       none;
    max-width:          12.5em;
    margin:             0.625em;
}
.mainArticle h2 {
    text-align:         center;
}
article {
    display:            inline-block;
}
#brandschutz img {
    filter:             drop-shadow(0 0 0.625em crimson);
}
#waermeschutz img {
    filter:             drop-shadow(0 0 0.625em #FFE300);;
    margin-right:       0; !important;
    margin-left:        1.25em;
}
#tragwerkplanung img {
    filter:             drop-shadow(0 0 0.625em #154300);
}
#eingabeplanung img {
    filter:             drop-shadow(0 0 0.625em #00418E);
    margin-right:       0; !important;
    margin-left:        1.25em;
}
#certifications {
    display:            flex;
    justify-content:    center;
    flex-wrap:          wrap;
}
.certification img {
    width:              12.5em;
    height:             12.5em;
    border:             solid #000000;
    border-radius:      50%;
    margin:             0.625em;
}
.picFloatLeft img {
    float:              unset;
}
.picFloatRight img {
    float:              unset;
}
@media screen and (min-width: 62em) {
    #mainImage {
        display:            flex;
        position:           relative;
        margin-top:         1.25em;
        margin-bottom:      3.125em;
    }
    #mainImage img {
        display:            flex;
        max-width:          100%;
        height:             auto;
        margin:             auto;
        border-left:        0.3125em var(--headcolor) solid;
        border-radius:      0.125em;
    }
    #mainPicOverlay {
        position:           absolute;
        bottom:             0;
        left:               0;
        right:              0;
        background-color:   var(--headcolor);
        overflow:           hidden;
        width:              0;
        height:             100%;
        transition:         .5s ease;
    }
    #mainImage:hover #mainPicOverlay {
        width:              45%;
    }
    .welcome_text {
        width:              18.571em;
        line-height:        1.875em;
        color:              white;
        font-size:          0.875em;        /*14px*/
        position:           absolute;
        overflow:           hidden;
        bottom:             1.071em;
        right:              -7.143em;
        transform:          translate(-50%, -50%);
        -ms-transform:      translate(-50%, -50%);
        text-align:         right;
    }
    .mainArticle {
        display:            flex;
        padding:            0.9375em;
        margin:             0.9375em;
        border-radius:      0.3125em;
        width:              100%;
        justify-content:    center;
        max-width:          56.25em;
    }
    .mainArticle h2 {
        margin-bottom:      0.4375em;
        text-align:         left; !important;
    }
    .mainArticle img {
        display:            flex;
        border-style:       none;
        border-color:       black;
        max-width:          12.5em;
        padding:            0.625em;
        margin:             1.25em 1.25em 0.3125em 0;
        border-radius:      0.125em;
        min-width:          12.5em;
        min-height:         7.5em;
        align-items:        center;
    }
    article {
        display:            inline-block;
        text-align:         justify;
        font-family:        'vollkornitalic', serif;
    }
    #waermeschutz h2 {
        text-align:         right;
    }
    #eingabeplanung h2 {
        text-align:         right;
    }
    #certifications {
        display:            flex;
        justify-content:    center;
        flex-wrap:          wrap;
    }
    .certification img {
        width:              12.5em;
        height:             12.5em;
        border:             solid #000000;
        border-radius:      50%;
        margin:             0.625em;
    }
    .picFloatLeft img {
        float:              left;
    }
    .picFloatRight img {
        float:              right;
    }
}
/* ------------------------------------ END MAIN PAGE ------------------------------------ */

/*-------------------------------- START WELCOME ANIMATION --------------------------------*/
.welcome_text a {
    color:              #eeeeee;
    text-decoration:    none;
    font-family:        'Raleway', sans-serif;
    font-weight:        bold;
}
#welcome_sign {
    position:           absolute;
    font-family:        'Raleway', sans-serif;
    color:              #dbdbdb;
    bottom:             0.625em;
    right:              1.875em;
    font-size:          0.875em;    /*14px*/
}
#welcome_sign img {
    width:              7.143em;
    margin-right:       0.357em;
    margin-top:         -0.857em;
}
@media screen and (min-width: 66.25em) {
    .welcome_text {
        width:              18.75em;
        line-height:        1.5625em;
        font-size:          1em;
        bottom:             2.125em;
        right:              -7.5625em;
    }
    #welcome_sign {
        font-size:          1em; !important;
        bottom:             1em;
    }
    #welcome_sign img {
        width:              7em;
    }
}
@media screen and (min-width: 70.625em) {
    .welcome_text {
        bottom:             2.75em;
    }
}
@media screen and (min-width: 71.875em) {
    .welcome_text {
        max-width:          25em;
        line-height:        1.5625em;
        font-size:          1em;
        bottom:             3.375em;
        right:              -6.375em;
    }
    #welcome_sign {
        font-size:          1em; !important;
        right:              3em;
        bottom:             2.375em;
    }
    #welcome_sign img {
        width:              7em;
        margin-right:       0.3125em;
        margin-top:         -0.75em;
    }
}
@media screen and (min-width: 75em) {
    .welcome_text {
        bottom:             4.375em;
        right:              -5.8125em;
    }
    #welcome_sign {
        right:              3.625em;
        bottom:             3.125em;
    }
}
@media screen and (min-width: 77.8125em) {
    .welcome_text {
        bottom:             5.9375em;
        right:              -5.375em;
    }
    #welcome_sign {
        right:              4em;
        bottom:             3.75em;
    }
}
@media screen and (min-width: 82.5em) {
    .welcome_text {
        bottom:             7.5625em;
        right:              -4.375em;
    }
    #welcome_sign {
        right:              5.0625em;
        bottom:             3.5em;
    }
}
@media screen and (min-width: 86.875em) {
    .welcome_text {
        bottom:             8.765em;
        right:              -6.118em;
        font-size:          1.0625em;   /*17px*/
        width:              21.647em;
    }
    #welcome_sign {
        right:              4.706em;
        bottom:             6.294em;
        font-size:          1.0625em;   /*17px*/
    }
}
@media screen and (min-width: 92.5em) {
    .welcome_text {
        bottom:             11.470em;
        right:              -6.529em;
        font-size:          1.0625em;   /*17px*/
        width:              22.529em;
    }
    #welcome_sign {
        right:              4.705em;
        bottom:             7.470em;
        font-size:          1.0625em;   /*17px*/
    }
}
/*--------------------------------- END WELCOME ANIMATION ---------------------------------*/

/*------------------------------------- START IMPRINT -------------------------------------*/
#imprintImage {
    display:            flex;
    margin-top:         1.25em;
    margin-bottom:      1.875em;
}
#imprintImage img {
    background:         white;
    display:            flex;
    max-width:          100%;
    margin:             auto;
    border:             solid 0;
    border-radius:      0.625em;
}
#address {
    line-height:        0.357;
    font-size:          0.875em;    /*14px*/
    margin-left:        5%;
}
#legalTitle {
    margin-left:        5%;
    margin-right:       5%;
}
#imprintTable {
    display:            flex;
    justify-content:    flex-start;
    width:              90%;
    margin-left:        5%;
    flex-direction:     column;
    text-align:         left;
    padding-top:        0;
    line-height:        1.0625em;
}
#imprintTable .white {
    align-items:        center;
    display:            flex;
    height:             3.125em;
    justify-content:    flex-start;
    background:         white;
    float:              left;
}
#imprintTable .gray {
    align-items:        center;
    display:            flex;
    height:             3.125em;
    justify-content:    flex-start;
    background:         #D3D3D3;
    float:              left;
}
#imprintTable ul {
    padding-left:       0;
    list-style-type:    none;
}
#imprintTable .left {
    float:              left;
    width:              40%;
}
#imprintTable .right {
    float:              left;
}
@media screen and (min-width: 62em) {
    #imprintTable {
        width:              80%;
        min-width:          42em;
        margin-left:        0;
    }
    #address {
        margin-left:        0;
    }
    #legalTitle {
        margin-left:        0;
    }
}
/*-------------------------------------- END IMPRINT --------------------------------------*/

/*--------------------------------- START ADMINISTRATION ----------------------------------*/
#administration-wraper {
    box-sizing:         border-box;
    display:            flex;
    justify-content:    center;
    flex-wrap:          wrap;
    width:              100%;
}
.mydataFlex{
    display:            flex;
    justify-content:    center;
    flex-wrap:          wrap;
}
.rightSite{
    width:              40%;
    margin-left:        5%;
}
.leftSite{
    width:              40%;
    margin-bottom:      5%;
}
.mydata{
    text-align:         center;
    padding-left:       20%;
    padding-right:      20%;
}
.mydataBtn {
    display:            flex;
    align-items:        center;
    justify-content:    center;
    flex-wrap:          wrap;
}
.btn {
    align-items:        center;
    height:             3.75em;
    max-width:          5em;
    cursor:             pointer;
    font-size:          0.9375em;
    font-family:        'Raleway', sans-serif;
    display:            flex;
    justify-content:    center;
    border:             0.1111em solid ;
    background-color:   #1960B8;
    color:              white;
    padding:            0.8334em 1.7777em;
    text-align:         center;
    text-decoration:    none;
    min-width:          12.7779em;
    margin-bottom:      0.5em;
    margin-right:       0.5em;
    transition:         background-color 0.2s ease-out;
    flex-direction:     row;
}
.btn:hover {
    background-color:   #5aace9;
}
.delete .btn:hover {
    background-color:   #ff0e0e;
}
.menubar {
    vertical-align:     top;
    flex-wrap:          wrap;
    display:            flex;
    align-items:        center;
    justify-content:    space-between;
    text-decoration:    none;
    list-style:         none;
    border:             0.125em solid #1b63b8;
    background-color:   #1960B8;
    width:              95%;
    padding:            0 3.125em 0 3.125em;
}
.menubar li {
    list-style:         sqaure;
    font-weight:        100;
    color:              #2F2D2C;
    line-height:        1.25em;
    padding:            0;
    margin:             0.313em 0 0.313em 0;
    text-align:         justify;
    list-style:         none;
}
.menubar a {
    text-decoration:    none;
    color:              white;
}
#adminnav-wraper{
    display:            flex;
    width:              80%;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #1960B8;
    padding-left:       1.25em;
    padding-right:      1.25em;
}
#administration-wraper main {
    display:            flex;
    width:              80%;
    min-height:         70%;
    margin-left:        0;
    text-decoration:    none;
    list-style:         none;
    background-color:   white;
    padding:            1.25em;
    vertical-align:     top;
    border-bottom:      0.255em var(--headcolor) solid;
}
#administration-wraper label {
    text-align:         left;
    display:            block;
    padding:            0.5em 1.5em 0.5em 0;
}
#administration-wraper input {
    width:              50%;
    padding:            0.7em;
    margin-bottom:      0.5rem;
}
#administration-wraper input:focus {
    outline:            0.1875em solid gold;
}
.changeDataForm label {
    display:            block;
    margin-right:       1.25em;
}
/*---------------------------------- END ADMINISTRATION -----------------------------------*/

/*------------------------------------- START ABOUTUS -------------------------------------*/
.textWithPicture {
    display:            flex;
}
.textWithPicture img {
    float:              right;
    width:              25em;
    display:            flex;
    margin-left:        0.9375em;
    margin-bottom:      1.25em;
    padding-top:        1.1875em;
}
.textWithPicture article {
    display:            inline-block;
    text-align:         justify;
}
.enumeration ul {
    list-style-type:    disc;
}
.enumeration li {
    line-height:        1.5625em;
}
.textbox {
    width:              60%;
    border-radius:      1.25em;
    background:         #e5e4e4;
    border:             0.0625em solid #949494;
    padding-left:       0.625em;
    padding-right:      0.625em;
}
.aboutUs {
    display:            flex;
    width:              70%;
    flex-direction:     column;
    justify-content:    center;
    margin-right:       auto;
    margin-left:        auto;
}
#maintext {
    text-align:         justify;
}
.aboutUsImage img {
    width:              100%;
    margin-top:         0.625em;
}
.aboutUs h1 {
    margin-bottom:      0;
}
/*-------------------------------------- END ABOUTUS --------------------------------------*/