
/* ------------------------------ RANDOM SHIT ------------------------------- */

:root
{
    --headcolor: #1960B8;
    --headsize: 185px;
    --headlogosize: 60px;
}

body {
    margin: unset;
    padding: unset;
    font-family: "Roboto";
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.box {
    background-color: var(--headcolor);
    position: relative;
    width: 100%;
    height: 95%;
}

.circle
{
    display: none;
    background-color: var(--headcolor);
    position: relative;
    bottom: 5%;
    border-radius: 50%;
    width: 100%;
    height: 10%;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding: 15px 200px 300px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*    margin-top: 30px;*/
    background: rgba(255,255,255, 0.92);
}

header{
    height: var(--headsize);
    font-size: 24px;
}

/* ------------------------------ NAVIGATION BAR ------------------------------- */
nav {
    margin: unset;
    display: block;
    align-items: center;
    height: 5px;
}

nav ul{
    margin: 0px;
}

nav .secondNavigation {
    font-size: 16px;
    background-color: #504E4E;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

nav .secondNavigation .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .secondNavigation li {
    list-style-type: none;
}

nav .secondNavigation a {
    background: linear-gradient(
            to bottom, #504E4E 80%,
            #FFFFFF 100%
    ) repeat-x 0 100%;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 15px;
    text-decoration: none;
    transition: background-size .2s;
}

nav a:hover{
    background-size: 4px 50px;
    /*    border-bottom: solid;
        border-color: var(--headcolor);
        transition-duration: 0.6s;*/

}


/*.sek-box {
    position: fixed;
    background: #FFFFFF;
    opacity: 90%;
    width: 100%;
    border-bottom-style: ridge;
    border-size: 15px;
    border-color: var(--headcolor);
!*    box-shadow: 5px 5px 5px 2px var(--headcolor);*!
}*/

#head_container {
    background: #FFFFFF;
    position: relative;
    justify-items: center;
    justify-content: center;
    opacity: 90%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-bottom-style: solid;
    border-color: #504E4E;
    display: grid;
    grid-template-columns: min-content auto auto auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    "logo content content ."
    ". . . ."
    ". . . .";
}

#sek-head-logo img{
    width: 230px;
    padding: 15px 0px 25px 50px;
    grid-area: logo;
}

#sek-headcontent{
    grid-area: content;
    margin-left: 70px;
}

#sek-headcontent h1{
    margin-top: 7px;
    margin-bottom: 7px;
}

#sek-headcontent h2{
    margin-top: 7px;
    margin-bottom: 7px;
}

#sek-nav-container{

    padding: 0px;
}

/*.sek-box img{
    opacity: unset;
}*/

#sek-break-line{
    background-color: var(--headcolor);
}
/* ------------------------------ Search button -------------------------------*/

#suche {
    /*border: 2px solid #ffffff;*/
    border-radius: 30px;
    font-size: 20px;
    width: 350px;
    /*transition: width 0.5s ease-in-out;*/
}
/* ------------------------------ Item Display -------------------------------*/

#itemDisplay {
    display:flex;
    justify-content: center; /*space-around*/
    align-items: flex-start;
    padding-top: 40px;
}

.item {
    width: 30%;
    float: left;
}