/* ------------------------------ START NAVIGATION BAR ------------------------------- */

.secondNavigation {
    font-size:        1em;
    background-color: #504E4E;
    height:           3.75em;
    width:            100%;
    margin:           0 auto;
    padding:          0;
    display:          flex;
    flex-flow:        row;
    flex-wrap:        nowrap;
    align-items:      center;
    justify-content:  center;
}
.secondNavigation li {
    list-style-type:  none;
}
.secondNavigation a {
    color:            #FFFFFF;
    text-decoration:  none;
}
.secondNavigation .text {
    display:          flex;
    align-items:      center;
    min-height:       1.5em;                /*24px;*/
    border-left:      solid 0.0625em;
    border-right:     solid 0.0625em;
    background-size:  0 0;
    color:            #FFFFFF;
    margin:           0 1em;                /*16px;*/
    padding:          0 0.75em;             /*12px;*/
    text-decoration:  none;
    transition:       background-color 0.5s ease-out;
}
#search {
    border-radius:    1.5em;                /*30px;*/
    font-size:        1.25em;               /*20px*/
    width:            17.5em;               /*350px;*/
    border:           none;
    outline:          none;
    margin-right:     0.25em;
    margin-left:      0.25em;
}
.secondNavigation .text:hover{
    background-color: #818080;
}
.secondNavigation ul li img:hover{
    background-color: #818080;
}
.secondNavigation ul li img{
    display:          inline-block;
    width:            1.5625em;             /*25px;*/
    height:           1.5625em;             /*25px;*/
    float:            left;
    border-left:      solid 0.0625em;       /*1px;*/
    border-right:     solid 0.0625em;       /*1px;*/
    background-size:  0 0;
    color:            #FFFFFF;
    margin:           0 1em;                /*16px*/
    padding:          0 0.75em;             /*12px;*/
    text-decoration:  none;
    transition:       background-color 0.5s ease-out;
}

/* ------------------------------ END NAVIGATION BAR ------------------------------- */

/* ------------------------------ START PRODUCTS-------------------------------*/

#itemDisplay {
    width:            100%;
    display:          flex;
    min-width:        25em;                 /*400px*/
    justify-content:  center;
    flex-direction:   row;
    align-items:      stretch;
    flex-wrap:        wrap;
    background-color: #1960B8;
    opacity:          0.7;
}
.item {
    border:           0.1875em solid ;      /*3px*/
    margin:           0.625em;              /*10px*/
    padding:          0.75em;               /*12px*/
    width:            21.875em;             /*350px*/
    height:           auto;
    border-radius:    0.625em;              /*10px*/
    background-color: #eae8e8;
}
.item img
{
    display:          flex;
    border-style:     solid;
    border-color:     black;
    max-width:        9.375em;              /*150px;*/
    max-height:       12.5em;               /*200px;*/
    margin:           0.625em;              /*10px;*/
    border-radius:    0.625em;              /*10px*/
    float:            right;
}
.item .btn {
    background:       #04c15b;
    color:            #fff;
    float:            right;
    font-size:        inherit;
    cursor:           pointer;
    padding:          0.9375em 1.25em;
    margin-top:       1.875em;
    margin-right:     0.3125em;
    text-transform:   uppercase;
    letter-spacing:   0.0625em;
    font-weight:      600;
    outline:          none;
    position:         relative;
    -webkit-transition: all 0.3s;
    -moz-transition:  all 0.3s;
    transition:       all 0.3s;
}
.item .btn:hover {
    background:       #27ae60;
}
.item .btn:active {
    background:       #27ae60;
    top:              0.125em;
}
/* ------------------------------ START CATEGORIES -------------------------------*/

.categories {
    display:          flex;
    justify-content:  flex-start;
    flex-wrap:        wrap;
}
.categories .btn {
    cursor:           pointer;
    font-size:        1.125em;                  /*18px*/
    display:          flex;
    justify-content:  center;
    border:           0.1111em solid ;          /*2px*/
    background-color: #1960B8;
    color:            white;
    padding:          0.8334em 1.7777em;        /*15px 32px;*/
    text-align:       center;
    text-decoration:  none;
    min-width:        12.7779em;                /*230px;*/
    margin-bottom:    0.5em;                    /*9px;*/
    margin-right:     0.5em;                    /*9px;*/
    transition:       background-color 0.2s ease-out;
}
.categories .btn:focus {
    background-color: #1196ee;
    border:           none;
    outline:          none;
}
.categories .btn:hover {
    background-color: #5aace9;
}
/* ------------------------------ END CATEGORIES -------------------------------*/
/* ------------------------------ END PRODUCTS -------------------------------*/

/* ------------------------------ START SLIDER -------------------------------*/

.PagesSlider img {
    width:            100%;
}
.PagesSlider {
    position:         relative;
    width:            100%;
    height:           200px;
    margin:           2.1875em auto 0 auto;
}
.PagesSlider-slides {
    display:          flex;
}
.PagesSlider-slide {
    position:         absolute;
    bottom:           -3.125em;                     /*-50px;*/
    padding-left:     1em;
    width:            20em;
    height:           16.9375em;
}
.PagesSlider-slide:nth-child(1) {
    -webkit-animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(2) {
    -webkit-animation: PagesSlider-animation 20s -5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(3) {
    -webkit-animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(4) {
    -webkit-animation: PagesSlider-animation 20s -10s ease-in-out infinite;
    animation: PagesSlider-animation 20s -10s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(5) {
    -webkit-animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(6) {
    -webkit-animation: PagesSlider-animation 20s -15s ease-in-out infinite;
    animation: PagesSlider-animation 20s -15s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(7) {
    -webkit-animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(8) {
    -webkit-animation: PagesSlider-animation 20s -20s ease-in-out infinite;
    animation: PagesSlider-animation 20s -20s ease-in-out infinite;
}
@-webkit-keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%);}
    100%, 100%   {transform: translateX(-300%);}
}
@keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%)}
    100%, 100%   {transform: translateX(-300%);}
}
/* ------------------------------ END SLIDER -------------------------------*/

/* ------------------------------ START NEWS-CONTENT-------------------------------*/

.newsContent h1 {
    font-size:        2.5em;
    line-height:      3.8em;
    font-weight:      100;
    color:            #E2DBDB;
    margin:           0;
}
.newsContent h2 {
    font-size:        1.563em;
    line-height:      1.8em;
    font-weight:      100;
    color:            #2F2D2C;
    margin:           0;
    padding:          1.25em;
    text-align:       left;
}
.newsContent p {
    line-height:      1.25em;
    font-weight:      100;
    color:            #2F2D2C;
    margin:           0;
    padding:          1.25em;
    text-align:       justify;
}
.newsContent ul {
    margin:           0;
    padding:          0;
}
.newsContent li {
    list-style:       sqaure;
    font-weight:      100;
    color:            #2F2D2C;
    line-height:      1.25em;
    padding:          0;
    margin:           0.313em 0 0.313em 0;
    text-align:       justify;
}
.newsContent img {
    width:            95%;
    height:           auto;
    max-width:        100%;
}
.newsContent a {
    text-decoration:  none;
}
.newsContent {
    background:       #ABAFB5;
    font-size:        100%;
    display:          block;
    width:            93.75%;
    margin:           1.25em auto;
    padding:          1.875em;                      /*30px;*/
}
.newsContent article {
    display:          inline-block;
    width:            65.3%;
    background:       #FFFFFF;
    vertical-align:   top;
    margin:           0;
    text-align:       center;
}
.newsContent aside {
    display:          inline-block;
    width:            30.6%;
    margin-left:      3%;
    padding:          0;
    vertical-align:   top;
}
.newsContent aside section {
    margin-bottom:    1.563em;
    background:       #FFFFFF;
    border-bottom:    0.1875em solid #1960B8;
}
.newsContent article h2 {
    padding:          1em 1.8em 1em 1.8em;
}
.newsContent aside section ul {
    padding:          0 1.875em 1.25em 2.5em;
}
/* ------------------------------ END NEWS-CONTENT-------------------------------*/

/* ------------------------------ START SHOPPING CART-------------------------------*/

.cartDisplay h1 {
    font-size:        2.5em;
    line-height:      3.8em;
    font-weight:      100;
    color:            #E2DBDB;
    margin:           0;
}
.cartDisplay h2 {
    font-size:        1.563em;
    line-height:      1.8em;
    font-weight:      100;
    color:            #2F2D2C;
    margin:           0;
    padding:          1.25em;
    text-align:       left;
}
.cartDisplay p {
    line-height:      1.25em;
    font-weight:      100;
    color:            #2F2D2C;
    margin:           0;
    padding:          1.25em;
    text-align:       justify;
}
.cartDisplay ul {
    margin:           0;
    padding:          0;
}
.cartDisplay li {
    list-style:       sqaure;
    font-weight:      100;
    color:            #2F2D2C;
    line-height:      1.25em;
    padding:          0;
    margin:           0.313em 0 0.313em 0;
    text-align:       justify;
}
.cartDisplay a {
    text-decoration:  none;
}
.cartDisplay {
    background:       #1960B8;
    opacity:          70%;
    display:          block;
    width:            95%;
    margin:           1.25em auto;
    padding:          1.875em;
}
.cartDisplay article {
    display:          inline-block;
    width:            60%;
    background:       #FFFFFF;
    vertical-align:   top;
    margin:           0;
    text-align:       center;
}
.cartDisplay aside {
    display:          inline-block;
    width:            36%;
    margin-left:      3%;
    padding:          0;
    vertical-align:   top;
}
.cartDisplay aside section {
    margin-bottom:    1.563em;
    background:       #FFFFFF;
}
.cartDisplay article h2 {
    padding:          1em 1.8em 1em 1.8em;
}
.cartDisplay aside section ul {
    padding:          0 1.875em 1.25em 2.5em;
}
/* ------------------------------ END SHOPPING CART-------------------------------*/

/* ------------------------------ Responsive Design(>992px)) -------------------------------*/
@media screen and (max-width:1120px /*1120px*/) {
    #search {
        width:6.25em;    /*100px;*/
    }
}

@media screen and (max-width:600px) {
    .newsContent aside,
    .newsContent article {
        width: 100%;
        display: block;
        margin: 0.625em 0 0.625em 0;
    }
}
/* ------------------------------ Tablet Design(<992px)  -------------------------------*/
@media screen and (max-width:62em /*992px*/) {
    #search {
        width:17.5em;    /*280px;*/
    }
    .secondNavigation {
        font-size: 14px;
    }
}


