
/* ------------------------------ NAVIGATION BAR ------------------------------- */

.secondNavigation {
    font-size: 16px;
    background-color: #504E4E;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.secondNavigation li {
    list-style-type: none;
}

.secondNavigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.secondNavigation .text {
    display: flex;
    align-items: center;
    min-height: 24px;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 12px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}

.secondNavigation .text:hover{
    background-color: #818080;

}
.secondNavigation ul li img:hover{
    background-color: #818080;

}

.secondNavigation ul li img{
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 12px;
    text-decoration: none;
    transition: background-color 0.5s ease-out;
}


/* ------------------------------ Search button -------------------------------*/

#suche {
    border-radius: 30px;
    font-size: 20px;
    width: 350px;
}
#suche:focus {
    border: none;
    outline: none;
}
/* ------------------------------ Item Display -------------------------------*/

#itemDisplay {
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-height: 1600px;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #1960B8;
    opacity: 0.7;

}

.item {
    border: 3px solid ;
    margin: 10px;
    padding:12px;
    width: 350px;

    border-radius: 10px;
    background-color: #eae8e8;

}

.item img
{
    display: flex;
    border-style: solid;
    border-color: black;
    max-width: 150px;
    max-height:200px;
    /*    padding:10px;*/
    margin: 10px;
    border-radius: 20px;
    float: right;
}

.item .button {
    margin-top: 10px;
    margin-right: 15px;
    border: 2px solid ;
    display: flex;
    float: right;
    color: #4b4c4f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    min-width: 100px;

    border-radius: 25px;
    transition: background-color 0.2s ease-out;
}

.item .button:focus {
    border: 2px solid black;
    color: #ffffff;
}

.break-column {
    break-after: auto;
}

/* ------------------------------ Responsive -------------------------------*/
@media screen and (max-width:1650px) {
    #itemDisplay {
        width: 800px;
        max-height: 2500px;
        justify-content: center;
    }
    .secondNavigation {
        font-size: 14px;
    }
}

@media screen and (max-width:1120px) {
    #suche {
        width:100px;
    }
}

@media screen and (max-width:1220px) {
    #itemDisplay {
        width:400px;
        max-height: 5000px;
    }
    #itemDisplay {
        min-width: 400px;
    }
    .secondNavigation {
        min-width: 400px;
    }
}

/* ------------------------------ Categories -------------------------------*/
.categories {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.categories .button {
    display:flex;
    justify-content: center;
    border: 2px solid ;
    background-color: #1960B8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    min-width:230px;
    margin-bottom: 9px;
    margin-right: 9px;
    transition: background-color 0.2s ease-out;
}

.button:focus {
    background-color: #1196ee;
    border: none;
    outline: none;
}

/* ------------------------------ News Carousel-------------------------------*/
.PagesSlider img {
    width: 100%;
}

.PagesSlider {
    position: relative;
    width: 100%;
    height: 25.5625em;
    margin: 2.1875em auto 0 auto;
}

.PagesSlider-slides {
    display: flex;
}

.PagesSlider-slide {
    position: absolute;
    padding-left: 1em;
    top: 3.5625em;
    width: 20em;
    height: 16.9375em;
}
.PagesSlider-slide:nth-child(1) {
    -webkit-animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -2.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(2) {
    -webkit-animation: PagesSlider-animation 20s -5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(3) {
    -webkit-animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -7.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(4) {
    -webkit-animation: PagesSlider-animation 20s -10s ease-in-out infinite;
    animation: PagesSlider-animation 20s -10s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(5) {
    -webkit-animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -12.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(6) {
    -webkit-animation: PagesSlider-animation 20s -15s ease-in-out infinite;
    animation: PagesSlider-animation 20s -15s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(7) {
    -webkit-animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
    animation: PagesSlider-animation 20s -17.5s ease-in-out infinite;
}
.PagesSlider-slide:nth-child(8) {
    -webkit-animation: PagesSlider-animation 20s -20s ease-in-out infinite;
    animation: PagesSlider-animation 20s -20s ease-in-out infinite;
}

@-webkit-keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%);}
    100%, 100%   {transform: translateX(-300%);}
}

@keyframes PagesSlider-animation {
    0%, 10%      {transform: translateX(500%);}
    12.5%, 22.5% {transform: translateX(400%);}
    25%, 35%     {transform: translateX(300%);}
    37.5%, 47.5% {transform: translateX(200%);}
    50%, 60%     {transform: translateX(100%);}
    62.5%, 72.5% {transform: translateX(0%);}
    75%, 85%     {transform: translateX(-100%);}
    87.5%, 97.5% {transform: translateX(-200%)}
    100%, 100%   {transform: translateX(-300%);}
}

/* ------------------------------ News Main Section-------------------------------*/

.newsContent h1 {
    font-size: 2.5em;
    line-height: 3.8em;
    font-weight: 100;
    color: #E2DBDB;
    margin: 0em;
}

.newsContent h2 {
    font-size: 1.563em;
    line-height: 1.8em;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: left;
}

.newsContent p {
    line-height: 1.25em;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: justify;
}

.newsContent ul {
    margin: 0px;
    padding: 0px;
}

.newsContent li {
    list-style: sqaure;
    font-weight: 100;
    color: #2F2D2C;
    line-height: 1.25em;
    padding: 0em;
    margin: 0.313em 0em 0.313em 0em;
    text-align: justify;
}

.newsContent img {
    width: 95%;
    height: auto;
    max-width: 100%;
}

.newsContent a {
    text-decoration: none;
}


.newsContent {
    background: #ABAFB5;
    font-size: 100%;
    display: block;
    width: 95%;
    margin: 1.25em auto;
    padding: 30px;
}

.newsContent article {
    display: inline-block;
    width: 65.3%;
    background: #FFFFFF;
    vertical-align: top;
    margin: 0em;
    text-align: center;
}

.newsContent article img {
    max-width: 560px;
    box-shadow: 0px 0px 10px -5px #4c4948;
    border-radius: 5px;
}

.newsContent aside {
    display: inline-block;
    width: 30.6%;
    margin-left: 3%;
    padding: 0em;
    vertical-align: top;
}

.newsContent aside section {
    margin-bottom: 1.563em;
    background: #FFFFFF;
    border-bottom: 3px solid #1960B8;
}

.newsContent article h2 {
    padding: 1em 1.8em 1em 1.8em;
}

.newsContent aside section ul {
    padding: 0em 1.875em 1.25em 2.5em;
}

/* mobile style*/

@media screen and (max-width:600px) {
    body {
        font-size: 90%;
    }
}

@media screen and (max-width:600px) {
    #main aside,
    #main article {
        width: 100%;
        display: block;
        margin: 0.625em 0em 0.625em 0em;
    }
}

@media screen and (max-width:550px) {
    nav.nav {
        display: block !important;
    }
}

@media screen and (max-width:550px) {
    body {
        font-size: 86%;
    }
    #menubar ul li a.menubutton {
        display: block;
    }
    nav {
        display: none;
        height: auto;
    }
    nav ul li {
        display: block;
        margin: 0.3em 0em 0.3em 0em;
    }
}