/*========================== DESIGN-FORMS.CSS - Document IBHorsch =========================*/

/*======================================= CONTENTS ========================================*/
/*
 1. GENERAL
 2. LOGIN
 3. SIGNUP
 4. CONTACT
 */
/* ------------------------------------ START GENERAL ------------------------------------ */
body
{
    width:              100%;
}
.headspace
{
    padding-top:        1.25em;     /
}
.form_col_space
{
    width:              18.75em;
    height:             1.25em;
}
.form_window label {
    padding-top:        0.375em;
}
.form_window .form_col_space {
    display:            block;
}
.form_window div {
    padding-bottom:     1.875em;
}
.form_window h1 {
    color: var(--headcolor);
    padding-bottom:     1.875em;
    text-decoration:    underline;
}
.form_window .form_col_numbers {
    text-align:         center;
    width:              2.846em;
    height:             1.25em;
}
/* ------------------------------------- END GENERAL ------------------------------------- */

/* ------------------------------------- START LOGIN ------------------------------------- */
.login_window
{
    max-width:          36.25em;
    min-width:          25em;
    margin-left:        auto;
    margin-right:       auto;
    padding:            3.125em 0 3.125em 0;
    align-items:        center;
    flex-direction:     column;
    display:            flex;
    background:         white;
    border-radius:      0.1875em;
    border-bottom:      0.1875em var(--headcolor) solid;
    box-sizing:         border-box;
    filter:             drop-shadow(0 0 0.625em #C4C4C4);
}
.login_window h1{
    color:              black;
}
.login_window_img
{
    position:           absolute;
    width:              8.375em;
    height:             8.375em;
    left:               16.3125em;
    top:                2.125em;
}
.login_window > *
{
    margin-top:         0.75em;
}
.login_window label {
    display:            block;
}
.login_window a {
    font-size:          0.875em !important;
    text-decoration:    none;
    color:              var(--headcolor);
}
.login_window a:hover {
/*    color: var(--overheadGrey);*/
    font-weight: bold;
}

.submit_button
{
    border:             0;
    width:              18.75em;
    height:             2.5em;
    background-color:   var(--headcolor);
    color:              #DDD;
    font-weight:        bold;
    cursor:             pointer;
}
.login_check
{
    display:            flex;
}
/* -------------------------------------- END LOGIN -------------------------------------- */

/* ------------------------------------- START SIGNUP ------------------------------------ */
.form_window
{
    flex-wrap:          wrap;
    width:              100%;
    justify-content:    center;
    padding:            1.125em 0 3.125em 0;
    display:            flex;
    background:         white;
    border-bottom:      0.3125em var(--headcolor) solid;
    box-sizing:         border-box;
    filter:             drop-shadow(0 0 0.625em #C4C4C4);
}
#personalSection {
    margin:             0.625em;
    display:            flex;
    flex-direction:     column;
    height:             auto;
    max-width:          40%;
    justify-content:    center;
    min-width:          16em;
}
#addressSection {
    margin:             0.625em;
    display:            flex;
    flex-direction:     column;
    height:             auto;
    max-width:          40%;
    justify-content:    center;
    min-width:          16em;
}
.title {
    height:             3.125em;
    text-align:         center;
    color:              #2f2f2fde;
    max-width:          40%;
    min-width:          80%;
}
/* -------------------------------------- END SIGNUP ------------------------------------- */

/* ------------------------------------ START CONTACT ------------------------------------ */
/* ------------------------------------- END CONTACT ------------------------------------- */







