
body
{
    width: 100%;

}

*
{
/*    box-sizing: border-box;*/
    font-family: Roboto, sans-serif;
}

.headspace
{
    padding-top: 20px;
}

.login_window
{
    max-width: 580px;
    min-width: 400px;
/*    height: 400px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 50px 0px;
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    border-color: var(--headcolor);
    border: solid 3px;

    box-sizing: border-box;
}

.registration_window
{
    max-width: 900px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 50px 0px;
    align-items: center;
    flex-direction: column;
    display: flex;
    background: #FFFFFF;
    border-radius: 20px;
    border-color: var(--headcolor);
    border: solid 3px;

    box-sizing: border-box;
}

.login_window h1{
    color: var(--headcolor);
}

.login_window_img
{
    position: absolute;
    width: 134px;
    height: 134px;
    left: 261px;
    top: 34px;

    background: url(../logo/login_icon.png);
}

/*.login_window_head
{
    position: absolute;
    width: 135px;
    height: 135px;
    left: 261px;
    top: 21px;

    background: var(--headcolor);
    border: 11px solid #FFFFFF;
}*/

/*.login_form
{
    justify-content: center;
    flex-direction: column;
    display: flex;
}*/

.login_window > *
{
    margin-top: 12px;
}

.login_window label {
    display: block;
}

.login_window a {
/*    text-decoration: none;*/
    color: var(--headcolor);
}

.submit_button
{
    border: 0;
    font-size: large;
    width: 300px;
    height: 40px;
    background-color: var(--headcolor);
    color: #FFFFFF;
}

.login_check
{
    display: flex;
}

.form_col_space
{
    width: 300px /*26.25em*/;
    height: 25px /*2.063em*/;
}


.form_col_space_small
{
/*    width: 420px !*26.25em*!;*/
    height: 25px /*2.063em*/;
}

.registration_window label {
    display: block;
}

.registration_window .form_col_space {
    display: block;
}

.registration_window div {
    padding-bottom: 30px;
}

 .registration_window h1 {
     color: var(--headcolor);
     padding-bottom: 30px;
     text-decoration: underline;
 }

 .registration_window .form_col_numbers {
     width: 40px;
     height: 20px
 }

