h1
{
    color: #004FB1;
}

body
{
    width: 100%;
}

*
{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.login_window
{
    width: 669px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 114.5px 0px 114.5px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.login_window_img
{
    position: absolute;
    width: 134px;
    height: 134px;
    left: 261px;
    top: 34px;

    background: url(../logo/login_icon.png);
}

.login_window_head
{
    position: absolute;
    width: 135px;
    height: 135px;
    left: 261px;
    top: 21px;

    background: #004FB1;
    border: 11px solid #FFFFFF;
}

.login_form
{
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.login_window > *
{
    margin-top: 12px;
}

.submit_button
{
    border: 0;
    font-size: larger;
    width: 420px;
    height: 50px;
    background-color: #004FB1;
    color: #FFFFFF;
}

.login_check
{
    justify-content: space-between;
    display: flex;
}

.form_col_space
{
    width: 420px /*26.25em*/;
    height: 33px /*2.063em*/;
}


