
/* ------------------------------ NAVIGATION BAR ------------------------------- */

.secondNavigation {
    font-size: 16px;
    background-color: #504E4E;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.secondNavigation li {
    list-style-type: none;
}

.secondNavigation a {
    background: linear-gradient(
            to bottom, #504E4E 80%,
            #FFFFFF 100%
    ) repeat-x 0 100%;
    border-left: solid 1px;
    border-right: solid 1px;
    background-size: 0px 0px;
    color: #FFFFFF;
    margin: 0px 16px;
    padding: 0px 12px;
    text-decoration: none;
    transition: background-size .2s;
}

.secondNavigation a:hover{
    background-size: 4px 50px;
    /*    border-bottom: solid;
        border-color: var(--headcolor);
        transition-duration: 0.6s;*/

}

/* ------------------------------ Search button -------------------------------*/

#suche {
    /*border: 2px solid #ffffff;*/
    border-radius: 30px;
    font-size: 20px;
    width: 350px;
    /*transition: width 0.5s ease-in-out;*/
}
/* ------------------------------ Item Display -------------------------------*/

#itemDisplay {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}

.item {
    border: 1px solid ;
    margin-top: 70px;
    width: 300px;
    height: 300px;

}
