nav {

    margin: unset;
    display: flex;
    align-items: center;
}

nav .navigation-sek {
    display: flex;
    align-items: center;
    margin: 5px;
}

nav .navigation-sek .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navigation-sek li {
    list-style-type: none;
}

nav .navigation-sek a {
    color: #4E4E4E;
    padding: 14px 16px;
    text-decoration: none;
}

img{
    width: 80%;
}

.sek-box {
    position: relative;
    width: 100%;
}