:root
{
    --headcolor: #1960B8;
    --headsize: 90px;
    --headlogosize: 60px;
}

body {
    margin: unset;
    padding: unset;
    font-family: "Roboto";
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.box {
    background-color: var(--headcolor);
    position: relative;
    width: 100%;
    height: 95%;
}

.circle
{
    display: none;
    background-color: var(--headcolor);
    position: relative;
    bottom: 5%;
    border-radius: 50%;
    width: 100%;
    height: 10%;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding: 90px 60px 280px;
}

#firstHead{
    display: none;
}
header{
    height: var(--headsize);
    font-size: 24px;
}

nav {
    margin: unset;
    display: flex;
/*    display: none;*/
    align-items: center;
}

nav .navigation {
    display: flex;
    align-items: center;
    margin: 5px;
}

nav .navigation .logo {
    background-color: white;
    border-radius: 50%;
    height: var(--headlogosize);
    width: var(--headlogosize);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navigation .logo img {
    width: 80%;
}

nav .navigation li {
    list-style-type: none;
}

nav .navigation a {
    color: white;
    padding: 14px 16px;
}

/*img{          Größe in "nav .navigation .logo img" ausschließlich für dieses Img definiert
    width: 80%;
}*/

.submitLogout
{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    background-color: var(--background-color);
    border: 0;
    right: 0;
    top: 0;
    margin: 30px 60px 0px 0px;
    padding: 0px 0px;
    font-size: 100%;
    cursor: pointer;
    color: #FFFFFF;
}

.submitLogout:hover
{
    border-bottom: #FFFFFF;
    border-style: solid;
    transition:background 2s;
    -webkit-transition:background 2s;
}

footer{
    display:flex;
    justify-content: center;
    position: absolute;
    width:100%;
    height: 280px;
    background:var(--headcolor);
    opacity: 0.7;
    text-align:left;
    bottom: 0;
    padding: 0;

}

footer section{
    width: 750px;
    justify-content: space-around;
}


footer ul{
    width:100%;
    list-style-type: none;
    max-width:1440px;
    padding-bottom: 12px;
    text-align:left;
    margin: 0px auto;

}
footer ul li{
    font-size:0.8em;
    line-height:15px;
    color:#E2DBDB;
    padding:0em 0.625em 0em 0.625em;

}
footer ul h2{
    color:#FFFFFF;
    padding-left: 10px;
}
footer ul li img{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 10px;
}

.left{
    float: left;
    background:var(--headcolor);
    margin-top: 25px;
}

.right {
    float: right;
    background:var(--headcolor);
    margin-top: 50px;
}

.right img{
    display: inline-block;
    width: 300px;
    height: 200px;
}


.mainArticle
{
    display: flex;
    padding: 15px;
    margin: 15px;
    border-style: solid;
    border-radius: 20px;
/*    background: #1960B8;*/

}

#brandschutz{
    background: #FF8F8F;
    border-color: #8E0000;
}

#waermeschutz{
    background: #FFF6A6;
    border-color: #8E8900;
}

#tragwerkplanung{
    background: #CCEBCF;
    border-color: #154300;
}

#eingabeplanung{
    background: #E2F0FF;
    border-color: #00418E;
}

.mainArticle img
{
    display: block;
    border-style: solid;
    border-color: black;
    max-width: 200px;
/*    padding:10px;*/
    margin: 10px;
    border-radius: 20px;
}

article
{
    display: inline-block;
}


.picFloatLeft img
{
    float: left;
}

.picFloatRight img
{
    float: right;
}


