# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Test\OneDrive\Desktop\GrWebProg HTML CSS\Projekte\Dyn.WebProg-ChriMaMi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
